<style>
	.more_page, .page_num{
	float: left;
	padding: 5px;
	display: inline-flex;
	line-height: 0px;
	cursor: pointer;
	margin: 0 5px;
}
.page_num:HOVER,.page_num.selected{
	border-bottom: 1px solid #000;
}
</style>
<div class="clear">	
	<div class="more_page">						
		<!-- BEGIN more_pagePrev -->	
			<a href="<?php echo $prev?>" target="_self">
				<span class="page_control" > <img src="http://video.ifunso.com/gif/pagination-icon-previoust.png"> </span>
			</a>
		<!-- END more_pagePrev -->
		
		<!-- BEGIN more_pageNum -->		
		<?php foreach($pagelists AS $value):?>				
			<span class="page_num " onclick="page('<?php echo $value['url'];?>')"><?php echo $value['pagenum']?></span>
		<?php endforeach;?>
		<!-- END more_pageNum -->
								
		<!-- BEGIN more_pageNext -->	
			<a href="<?php echo $next?>" target="_self">
				<span class="page_control" > 
					<img src="http://video.ifunso.com/gif/pagination-icon-next.png">
				</span>
			</a>
		<!-- END more_pageNext -->	
	</div>		
</div>	
<script>
function page(url){
	location.href = url;	
};
</script>	