
<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - An example blog</title>
    </head>
    <body>

      
            <ul id="navigation">
            {% for item in post %}
                <li><a href="{{ item.id }}">{{ item.memo }}</a></li>
            {% endfor %}
            </ul>
       

       
    </body>
</html>