<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&version=v2.1&appId=806536466070254";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));	
	</script>
	
	
<div class="widget">
	<table cellpadding="0" cellspacing="0" class="tLight" style="float: left;">
		<form id="list_orderby" method="post">
			<input id="order_by" type="hidden" name="order_by" value="">
			<thead>
				<tr>
					<td title="名稱">名稱</td>
					<td title="粉絲團ID">粉絲團ID</td>
					<td title="管理帳號">管理帳號</td>
					<td title="動作" class="order_control" data-orderby = "online">動作<i class="icon-chevron-{by-online}"></i></td>					
				</tr>
			</thead>
		</form>
		<tbody>
			<?php if(isset($content)):?>			
			<?php foreach ($content AS $list):?>
			<tr id="<?php echo $list['page_id'];?>" data-title="<?php echo $list['page_name'];?>" class="user_row select_tr">
				<td><a href="http://www.facebook.com/{fans_id}" target="_blank"><?php echo $list['page_name'];?></a></td>
				<td><?php echo $list['page_id'];?></td>
				<td><a href="http://www.facebook.com/{user_id}" target="_blank"><?php echo $list['user_id'];?></a></td>
				<td>
					<span class="online <?php echo ($list['online'])?'':'off';?>" data-index="<?php echo $list['page_id'];?>"> 
						<a href="javascript:void(0);" class="tablectrl_small bBlue" original-title="Edit" title="上架"
							alt="上架">上架<span class="iconb" data-icon=""></span></a>
						<a href="javascript:void(0);" class="tablectrl_small bGold" original-title="Edit" title="下架" 
							alt="下架">下架<span class="iconb" data-icon="">
					</span></a> 
							
				</span></td>
			</tr>
			<?php endforeach;?>
			<?php endif;?>
		</tbody>
	</table>
	<div class="group_match" data-title="分類">
		<div class="group_match_title" data-index="">請先點選左邊粉絲團</div>
		<ul>
			<?php if(isset($ArticleGroup)):?>
			<?php foreach ($ArticleGroup AS $list):?>
			<li data-index="<?php echo $list['auto_index'];?>"><?php echo $list['name'];?></li> 
			<?php endforeach;?>
			<?php endif;?>
		</ul>
	</div>
</div>
<style>
<!--
.online A {
	position: relative;
}

.online A:first-child {
	z-index: 100;
}

.online A:not(:first-child ) {
	left: -53px;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity = 0);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.online.off A:first-child {
	opacity: 0;
	filter: alpha(opacity = 0);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.online.off A:not(:first-child ) {
	opacity: 1;
	filter: alpha(opacity = 100);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.group_match {
	float: right;
	width: 550px;
	height: 600px;
	overflow: scroll;
	position: relative;
}

.group_match:BEFORE {
	content: attr(data-title);
	display: block;
	font-size: 22px;
	border-bottom: 1px solid #333;
	margin-bottom: 5px;
}

.group_match LI {
	float: left;
	width: 120px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	line-height: 24px;
	cursor: pointer;
}
.group_match LI.selected{
	background: rgba(33,66,99,0.2);
border-radius: 5px;
}
.group_match LI:HOVER {
	border-bottom: 1px solid rgba(0,0,0,1);
}
.group_match LI:BEFORE {
	content: attr(data-index);
	float: left;
	margin-right: 5px;
	padding: 0 2px;
	border-right: 1px solid #369;
	width: 20px;
	text-align: right;
	color: #369;
}
.group_match_title{
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 10px;
	color: #369;
	font-size: 20px;
}
-->
</style>

<script src="js/pofans_fans.js"></script>

<script>
$(".group_match LI").on( "click", function() {
	if($(this).hasClass("selected") )$(this).removeClass("selected");
	else $(this).addClass("selected");

	var index = $(".group_match_title").attr("data-index");

	
	$.ajax({
		url: 'pofans/set_fans_group',
	  cache: false,
	  dataType: 'html',
	  type: 'POST',
	  data:{
		index:index,
		fans_group:get_group_selected()  
	  },
	  success: function(data){
	  	console.info(data);
	  }
	});
	
});	

$(".select_tr").on("click",function(){
	var index = $(this).attr("id");
	
	if(index < 1) return false;
	
	$(".group_match_title").attr("data-index",index).html($(this).attr("data-title"))
	
	$.ajax({
		url: 'pofans/get_fans_group',
	  cache: false,
	  dataType: 'json',
	  type: 'POST',
	  data:{
		index:index  
	  },
	  success: function(data){
		  console.info(data);
		  $(".group_match LI").removeClass("selected");
		  if(data){
				for(var k in data){
					$('.group_match LI[data-index="'+data[k]+'"]').addClass("selected");
				}
			  	}
	  },
	  error:function(data){
			console.info(data);
		  }
	});
	
});

function get_group_selected(){

	var group_arr = new Array();
	$(".group_match LI.selected").each(function(){
		group_arr.push($(this).attr('data-index'))

		});
	return group_arr;
}
$(".online").click(function() {
	var index= $(this).attr('data-index'); 
	var online = $(this).hasClass("off")
	
	if(online) $(this).removeClass("off");
	else $(this).addClass("off");

	if(index)
		$.ajax({
		  url: 'pofans/fansid_online/',
		  dataType: 'html',
		  type: "POST",
		  data: {
			  online:online,
			  index:index
		  },
		  success: function(data){
			  console.info(data);
		  	/**/
		  }
		});
	
});
function order_by(this_td){

	$('#order_by').val( $(this_td).attr('data-orderby'));

	$('#list_orderby').submit();

}

$(".order_control").live( "click", function() {
	var order_name = $(this).attr('data-orderby');
	if(order_name) order_by(this);
	
	return false;
});	

</script>