<div class="widget">
	<table cellpadding="0" cellspacing="0" width="100%" class="tLight">
		<form id="list_orderby" method="post">
			<input id="order_by" type="hidden" name="order_by" value="">
			<thead>
				<tr>
					<td title="名稱">名稱</td>
					<td title="粉絲團ID">粉絲團ID</td>
					<td title="粉絲團Like Box">粉絲團Like Box</td>
					<td title="動作" class="order_control" data-orderby = "online">動作<i class="icon-chevron-{by-online}"></i></td>					
				</tr>
			</thead>
		</form>
		<tbody>
			<?php if(isset($content)):?>			
			<?php foreach ($content AS $list):?>
			<tr id="user_{auto_index}" class="user_row">
				<td><a href="http://www.facebook.com/<?php echo $list['fans_id'];?>" target="_blank"><?php echo $list['fans_name'];?></a></td>
				<td><?php echo $list['fans_id'];?></td>
				<td>
				<div class="fb-like-box" data-href="https://www.facebook.com/<?php echo $list['fans_id'];?>" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
				</td>
				<td><a href="javascript:void(0);" class="tablectrl_small bGreen"
					original-title="Edit" title="修改" alt="修改"><span class="iconb"
						data-icon="" onclick="fans.group_edit('<?php echo $list['auto_index'];?>');"></span></a>

					<span class="online <?php echo ($list['online'])?'':'off';?>" data-index="<?php echo $list['auto_index'];?>"> 
						<a href="javascript:void(0);" class="tablectrl_small bBlue" original-title="Edit" title="上架"
							alt="上架">上架<span class="iconb" data-icon=""></span></a>
						<a href="javascript:void(0);" class="tablectrl_small bGold" original-title="Edit" title="下架" 
							alt="下架">下架<span class="iconb" data-icon="">
					</span></a> 
							
				</span></td>
			</tr>
			<?php endforeach;?>
			<?php endif;?>
		</tbody>
	</table>
</div>
<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&version=v2.1&appId=806536466070254";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));	
	</script>

<style>
<!--
.online A {
	position: relative;
}

.online A:first-child {
	z-index: 100;
}

.online A:not(:first-child ) {
	left: -53px;
	z-index: 1;
	opacity: 0;
	filter: alpha(opacity = 0);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.online.off A:first-child {
	opacity: 0;
	filter: alpha(opacity = 0);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.online.off A:not(:first-child ) {
	opacity: 1;
	filter: alpha(opacity = 100);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
-->
</style>

<script src="js/fans.js"></script>

<script>
$(".online").click(function() {
	var index= $(this).attr('data-index'); 
	var online = $(this).hasClass("off")
	
	if(online) $(this).removeClass("off");
	else $(this).addClass("off");

	if(index)
		$.ajax({
		  url: 'fb_fans/fansid_online/',
		  dataType: 'html',
		  type: "POST",
		  data: {
			  online:online,
			  index:index
		  },
		  success: function(data){
			  console.info(data);
		  	/**/
		  }
		});
	
});
function order_by(this_td){

	$('#order_by').val( $(this_td).attr('data-orderby'));

	$('#list_orderby').submit();

}

$(".order_control").live( "click", function() {
	var order_name = $(this).attr('data-orderby');
	if(order_name) order_by(this);
	
	return false;
});	

</script>
