<div class="widget">
	<div class="list_controllers" style="position: absolute;text-align: right;right: 0;margin-top: -25px;">		
		<a  href="http://starlove99.com/code/fb_info.php" target="_blank" title="重整FB資料">重整FB資料<i class="icon-refresh"></i></a>
		<a  href="http://starlove99.com/code/wall_status.php" target="_blank" title="重整分享資料">重整分享資料<i class="icon-refresh"></i></a>
		<a  href="http://starlove99.com/code/remove.php" target="_blank" title="產生規格圖片">產生規格圖片<i class="icon-refresh"></i></a>
	</div>

	<table cellpadding="0" cellspacing="0" width="100%" class="tDefault tLight">
		<form id="list_orderby" method="post">
			<input id="order_by" type="hidden" name="order_by" value="">
			<thead>
				<tr>
					<td title="索引" 		class="order_control" data-orderby="auto_index">索引<i class="icon-chevron-{by-auto_index}"></i></td>
					<td title="題目" 		class="order_control" data-orderby="article_title">題目<i class="icon-chevron-{by-article_title}"></i></td>
					<td title="群組名稱" >群組名稱</td>					
					<td title="題目圖片" >題目圖片</td>
					<td title="選項圖片" 		class="rowhide">選項圖片</td>
					<td title="建立人員" 		class="rowhide">建立人員</td>
					<td title="最後修改日期" 	class="rowhide">最後修改日期</td>					
					<td title="上架日期" 		class="order_control" data-orderby="create_time">上架日期<i class="icon-chevron-{by-create_time}"></i></td>					
					<td title="日點擊" 		class="order_control" data-orderby="daily_click">日點擊<i class="icon-chevron-{by-daily_click}"></i></td>
					<td title="點擊" 		class="order_control" data-orderby="total_click">點擊<i class="icon-chevron-{by-total_click}"></i></td>
					<td title="分享" 		class="order_control" data-orderby="wall_status_count">分享<i class="icon-chevron-{by-wall_status_count}"></i></td>
					<td title="讚" 			class="order_control" data-orderby="fb_like">FB 讚<i class="icon-chevron-{by-fb_like}"></i></td>
					<td title="回應" 		class="order_control" data-orderby="fb_recommend">回應<i class="icon-chevron-{by-fb_recommend}"></i></td>
					<td title="觀看" >觀看</td>
					<td title="自動" 		class="order_control" data-orderby="autopost">自動<i class="icon-chevron-{by-autopost}"></i></td>
					<td title="Pofans" 		class="order_control" data-orderby="pofans_total">Pofans<i class="icon-chevron-{by-pofans_total}"></i></td>
					<td title="Pofans 批次" 	style="text-align: right;">
					<input type="checkbox" onclick="pofans_select_all(this);"><span style="float:left;white-space: nowrap;" class="pofans_bat" onclick="pofans_exec();">Pofans 批次</span></td>
				</tr>
			</thead>
		</form>
		<tbody>
			<?php if(isset($content)):?>			
			<?php foreach ($content AS $list):?>
			<tr id="user_{auto_index}" class="user_row">
				<td title="索引"><?php echo $list['auto_index'];?></td>
				<td title="題目" style="white-space:nowrap;"><a href="http://i-gotest.com/q<?php echo $list['auto_index'];?>.html"
					target="_blank"><?php echo $list['article_title'];?></a></td>
				<td title="群組名稱" ><?php echo $list['article_group'];?></td>
				<td title="題目圖片" ><img src="http://starlove99.com/uploads/q<?php echo $list['auto_index'];?>/t_m.jpg" style="width: 60px;" />
				<td title="選項圖片" ><img src="http://starlove99.com/uploads/q<?php echo $list['auto_index'];?>/s_m.jpg" style="width: 60px;" />
				<td title="建立人員" ><?php echo $list['id'];?>{id}</td>
				<td title="最後修改日期" ><?php echo $list['update_time'];?></td>				
				
				<td title="上架日期"><?php echo $list['create_time'];?></td>
				
				<td title="日點擊"><?php echo $list['daily_click'];?></td>
				<td title="點擊"><?php echo $list['total_click'];?></td>
				<td title="分享"><?php echo $list['wall_status_count'];?></td>
				<td title="讚"><?php echo $list['fb_like'];?></td>
				<td title="回應"><?php echo $list['fb_recommend'];?></td>
				<td title="觀看"><a href="javascript:void(0);" class="tablectrl_small bBlue" original-title="View" title="觀看" alt="觀看" onclick="article.add_edit('<?php echo $list['auto_index'];?>');"><span class="iconb" data-icon="" ></span></a></td>
				<td title="自動"></td>
				
				<td title="Pofans">
				<a href="javascript:void(0);" data-number="<?php echo $list['pofans_total'];?>" class="tablectrl_small bGreen show_number" original-title="View" title="Pofans" alt="Pofans" onclick="article.pofans('<?php echo $list['auto_index'];?>');">
					<span class="iconb" data-icon="" ></span>Pofans</a>					
				</td>
				<td title="Pofans 批次">
					<input type="checkbox" class="pofans_bat" data-type="photo" value="{auto_index}" />圖片
					<input type="checkbox" class="pofans_bat" data-type="link"  value="{auto_index}" />連結
				</td>
			</tr>
			<?php endforeach;?>
			<?php endif;?>
		</tbody>
	</table>
</div>
{page_list}

<script src="js/article.js"></script>

<style>
.tLight tbody td{
	padding: 0px 16px;
}

#pofans_batlog li.sending:AFTER{
		content:'Sending';
		float: right;
}
#pofans_batlog li.error:AFTER{
	content:'Error';
	float: right;
}
.pofans {
	position: absolute;
	display: none;
	background-color: rgba(21, 21, 21, 0.6);
	padding: 10px;
	height: 430px;
	border-radius: 10px;
}

.pofans.focus {
	display: block;
	right: 250px;
	margin-top: -20px;
	color: #fff;
}

.pofans TEXTAREA {
	width: 400px;
	overflow: auto;
}

.pofans .send_btn {
	float: right;
	margin-bottom: 10px;
}

.external_link {
	background: none;
}

.more_page {
	text-align: center;
}

.more_page SPAN,.pofans .send_btn {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed
		), color-stop(1, #dfdfdf));
	background: -moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: -ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed',
		endColorstr='#dfdfdf', GradientType=0);
	background-color: #ededed;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #777777;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 14px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.more_page SPAN.page_selected {
	color: #c92200;
	text-shadow: 0px 1px 0px #ded17c;
}

.more_page SPAN:hover {
	color: #ffffff;
	text-shadow: 0px 1px 0px #528ecc;
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff));
	background: -moz-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background: -webkit-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background: -o-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background: -ms-linear-gradient(top, #378de5 5%, #79bbff 100%);
	background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
		endColorstr='#79bbff', GradientType=0);
	background-color: #378de5;
	border: 1px solid #84bbf3;
}

.more_page SPAN:active,.pofans .send_btn {
	position: relative;
	top: 1px;
}
</style>

<script>
function pofans_select_all(this_input){	
	if($(this_input).prop("checked")){
		$('INPUT[class="pofans_bat"]').each(function(){		
			if($(this).attr("data-type") == "link")
			$(this).attr('checked', $(this_input).prop("checked"));
		})
	}	
	else
	$('INPUT[class="pofans_bat"]').attr('checked', $(this_input).prop("checked"));	
}

function pofans_exec(){
	var url = 'pofans/schedule_add_from_article';
	var index_photo = new Array();
	var index_link = new Array();
	/**/
	$('INPUT[class="pofans_bat"]').each( function(){
		if($(this).prop("checked")){

			var this_checkbox = $(this);
			var index = $(this).val();
			var type = $(this).attr('data-type');

			if( $(this).attr('data-type') == 'photo' ){
				
				index_photo.push(index);
			}

		if( $(this).attr('data-type') == 'link' ){
				
			index_link.push(index);
			}
		} 
		
	});


	$.ajax({
		url:url,
		dataType: 'html',
	  type: 'POST',
	  data:{
		  index:index_photo,
		  type:'photo'
	  },
	  success: function(data){

		  	  }
	});

	$.ajax({
		url:url,
		dataType: 'html',
	  type: 'POST',
	  data:{
		  index:index_link,
		  type:'link'
	  },
	  success: function(data){

		  	  }
	});
}



function order_by(this_th){

	$('#order_by').val( $(this_th).attr('data-orderby'));

	$('#list_orderby').submit();

}

$(".order_control").live( "click", function() {
	var order_name = $(this).attr('data-orderby');
	if(order_name) order_by(this);
	
	return false;
});	
</script>