<div>
	<form id="form_folder">
		<div class="tb-green">
			<table>
				<thead>
					<tr class="column1">
						<th scope="col" colspan="2">
							<?php echo (!empty($account_info['auto_index']) && $account_info['auto_index'] > 0)? '編輯':'新增';?>管理員
							<input type="hidden" name="auto_index" value="<?php echo (!empty($account_info['auto_index'])?$account_info['auto_index']:'');?>">
						</th>
					</tr>
				</thead>
				<tr>
					<td width="66">
						帳號
					</td>
					<td>
						<input type="text" name="id" value="<?php echo empty($account_info['id'])? '':$account_info['id'];?>" /><br />
						<label class="error" generated="true" for="admin_name">(*)</label>
					</td>
				</tr>
				<?php if(empty($account_info['auto_index'])):?>
				<tr>
					<td width="66">
						密碼
					</td>
					<td>
						<input id="password" type="password" name="pw" value="" /><br />
						<label class="error" generated="true" for="password">(*)</label>
					</td>
				</tr>
				<tr>
					<td width="66">
						確認密碼
					</td>
					<td>
						<input id="confim_password" type="password" name="confim_pw" value="" /><br />
						<label class="error" generated="true" for="confim_password">(*)</label>
					</td>
				</tr>
				<?php endif;?>
				<tr>
					<td width="66">
						使用者名稱
					</td>
					<td>
						<input type="text" name="memo" value="<?php echo empty($account_info['memo'])? '':$account_info['memo'];?>" /><br />
						<label class="error" generated="true" for="admin_name">(*)</label>
					</td>
				</tr>
				<tr>
					<td width="66">
						群組
					</td>
					<td>
						<select name="admingroup_index" onchange="control_change(this.value);">
							<option value="0">請選擇</option>
							<?php foreach($competence as $st => $s): ?>
								<option value="<?php echo $s['auto_index']; ?>" <?php if( isset($account_info['admingroup_index']) && $s['auto_index'] == $account_info['admingroup_index']):?>SELECTED<?php endif;?>><?php echo $s['group_name']; ?></option>
							<?php endforeach; ?>
						</select>
					</td>
				</tr>
				<tr>
					<td width="66">
						權限
					</td>
					<td>
						<ul style="list-style: none;margin: 0;">
							<?php foreach($AdminMenu AS $key => $menu): ?>
							<li style="line-height: 25px">
								<span style="margin-right: 10px;float: left;min-width: 90px;"><?php echo $menu['child_name'];?></span>
								<span style="float: right;">
									<?php foreach ($admin_competence AS $key =>$value):?>
									<?php if(!isset($menu['auto_index'] )) continue;?>
									<input class="account_control" name="competence[<?php echo $menu['auto_index'];?>][]" type="checkbox" value="<?php echo $key;?>"
										<?php if(isset($account_info['account_competence'][$menu['auto_index']]) && is_array($account_info['account_competence'][$menu['auto_index']]) &&  in_array($key, $account_info['account_competence'][$menu['auto_index']])): ?>checked="checked"<?php endif;?>
									/><?php echo $value;?>
									<?php endforeach;?>
								</span>
							</li>
							<?php endforeach;?>
						</ul>
					</td>
				</tr>
				<tr>
					<td>
					</td>
					<td colspan="2">
						<input type="submit" value="送出" style="padding:3px;font-size:14px;" />
					</td>
				</tr>
			</table>
		</div><!-- / tb-green-->
	</form>
</div>
<script>

function control_change(value){
	if(value<1) return false;
	
	
	$.ajax({
		url: 'account/groupdefaultjson/'+value,
	  cache: false,
	  dataType: 'json',
	  type: 'POST',
	  async : false,
	  data : {
		  value:value
	  },
	  success: function(data){
		  
	  	if(data){			
	  		var control_default = data;
	  		$('INPUT[class="account_control"]').attr('checked', false);
	  		for(var k in control_default){

		  		
	  			$('INPUT[name="competence['+k+'][]"]').each(function(){
		  			for(var key in control_default[k]){
		  				if( $(this).val() == control_default[k][key]){
		  					$(this).attr('checked', true);
		  				}
		  			}
		  			
		  		});
	  		}
	  	}
	  }
	});
	
}

	$(function(){
		// 註冊驗證
		$("#form_folder").validate({
			rules: {
				id: {
					required: true
				},
				pw: {
					required: true,
					minlength: 6
				},
				confim_pw: {
					required: true,
					minlength: 6,
					equalTo: "#password"   // 判斷兩組密碼是否一樣
				}
			},
			messages: {
				id: "請輸入名稱",
				pw: {
					required: "請輸入您的密碼",
					minlength: "密碼長度不得少於六個字元"
				},
				confim_pw: {
					required: "請再輸入您的密碼",
					minlength: "密碼長度不得少於六個字元",
					equalTo: "請輸入一樣的密碼"   // 判斷不一樣所顯示之訊息
				}
			},			
			submitHandler: function(form) {
				
// 				$.fancybox.showLoading();
				// 透過 Ajax 驗證是否註冊
				$.ajax({
				  url: 'account/actions/validate',
				  cache: false,
				  dataType: 'html',
				  type: "POST",
				  data: $("#form_folder").serialize(),
				  success: function(data){
					 
					  	$.fancybox.hideLoading();
						
					  	if(data){
					  		alert(data);					  		
					  	}else{
					  		location.reload();
					  		return false;
					  	}
				  	/**/
				  },
				  error: function(data){
						
				  }
					  
				});
				//form.submit();
				return false;
			}
		});
		// end of $("#signupForm").validate
	});
</script>