<div>
	<form id="form_folder">
		<div class="tb-green">
			<table>
				<thead>
					<tr class="column1">
						<th scope="col" colspan="2">
							<?php echo (!empty($account_info['auto_index']) && $account_info['auto_index'] > 0)? '編輯':'新增';?>管理員
							<input type="hidden" name="auto_index" value="<?php echo (!empty($account_info['auto_index'])?$account_info['auto_index']:'');?>">
						</th>
					</tr>
				</thead>
				<tr>
					<td width="66">
						帳號
					</td>
					<td>
						<?php echo empty($account_info['id'])? '':$account_info['id'];?>
					</td>
				</tr>				
				<tr>
					<td width="66">
						密碼
					</td>
					<td>
						<input id="password" type="password" name="pw" value="" /><br />
						<label class="error" generated="true" for="password">(*)</label>
					</td>
				</tr>
				<tr>
					<td width="66">
						確認密碼
					</td>
					<td>
						<input id="confim_password" type="password" name="confim_pw" value="" /><br />
						<label class="error" generated="true" for="confim_password">(*)</label>
					</td>
				</tr>
				<tr>
					<td width="66">
						使用者名稱
					</td>
					<td>
						<?php echo empty($account_info['memo'])? '':$account_info['memo'];?>
					</td>
				</tr>	
				<tr>
					<td>
					</td>
					<td colspan="2">
						<input type="submit" value="送出" style="padding:3px;font-size:14px;" />
					</td>
				</tr>
			</table>
		</div><!-- / tb-green-->
	</form>
</div>
<script>


	$(function(){
		// 註冊驗證
		$("#form_folder").validate({
			rules: {
				pw: {
					required: true,
					minlength: 6
				},
				confim_pw: {
					required: true,
					minlength: 6,
					equalTo: "#password"   // 判斷兩組密碼是否一樣
				}
			},
			messages: {				
				pw: {
					required: "請輸入您的密碼",
					minlength: "密碼長度不得少於六個字元"
				},
				confim_pw: {
					required: "請再輸入您的密碼",
					minlength: "密碼長度不得少於六個字元",
					equalTo: "請輸入一樣的密碼"   // 判斷不一樣所顯示之訊息
				}
			},			
			submitHandler: function(form) {
				
				$.fancybox.showLoading();
				// 透過 Ajax 驗證是否註冊
				$.ajax({
				  url: 'account/actions/validate_password',
				  cache: false,
				  dataType: 'html',
				  type: "POST",
				  data: $("#form_folder").serialize(),
				  success: function(data){
					  console.info(data);
				  	$.fancybox.hideLoading();
					
				  	if(data){
				  		alert(data);				  		
				  	}else{
				  		location.reload();
				  		return false;
				  	}
				  	/**/
				  }
				});
				//form.submit();
				return false;
			}
		});
		// end of $("#signupForm").validate
	});
</script>