<STYLE>
tbody IMG {
	display: inline-block;
}
tbody IMG.focus {
	width:150%;
	border:2px dotted red;
}
</STYLE>
<div class="widget">
	<table cellpadding="0" cellspacing="0" width="100%" class="tLight">
		<form id="list_orderby" method="post">
		<input id="order_by" type="hidden" name="order_by" value="">
		<thead>
			<tr>
				<td title="帳號" class="order_control" data-orderby = "id">帳號<i class="icon-chevron-{by-id}"></i></td>
				<td title="群組名稱" class="order_control" data-orderby = "admingroup_index">群組名稱<i class="icon-chevron-{by-admingroup_index}"></i></td>
				<td title="使用者名稱" class="order_control" data-orderby = "memo">使用者名稱<i class="icon-chevron-{by-memo}"></i></td> 
				<td title="新增資料" width="150px;" style="cursor: pointer;" onclick="account.edit_account('');">新增資料<i class="icon-plus-sign"></i></td>
			</tr>
		</thead>
		</form>
		<tbody>
			<?php if(isset($content)):?>
			<?php foreach ($content AS $list):?>
			<tr class="user_row">
				<td><?php echo $list['id'];?></td>
				<td></td>
				<td><?php echo $list['memo'];?></td>				
				<td>
				<a href="javascript:void(0);" class="tablectrl_small bGreen" original-title="Edit" title="修改" alt="修改" onclick="account.edit_account(<?php echo $list['auto_index'];?>);"><span class="iconb" data-icon="" ></span></a>
				<a href="javascript:void(0);" class="tablectrl_small bGreen" original-title="Options" title="密碼修改" alt="密碼修改" onclick="account.edit_password(<?php echo $list['auto_index'];?>);"><span class="iconb" data-icon="" ></span></a>
				</td>
			</tr>
			<?php endforeach;?>
			<?php endif;?>
		</tbody>
	</table>
</div>

<div class="widget" ng-app="gemStore">
	<table cellpadding="0" cellspacing="0" width="100%" class="tLight">		
		<input id="order_by" type="hidden" name="order_by" value="">
		<thead>
			<tr>
				<td title="帳號" class="order_control" data-orderby = "id">帳號<i class="icon-chevron-{by-id}"></i></td>
				<td title="群組名稱" class="order_control" data-orderby = "admingroup_index">群組名稱<i class="icon-chevron-{by-admingroup_index}"></i></td>
				<td title="使用者名稱" class="order_control" data-orderby = "memo">使用者名稱<i class="icon-chevron-{by-memo}"></i></td> 
				<td title="新增資料" width="150px;" style="cursor: pointer;" onclick="account.edit_account('');">新增資料<i class="icon-plus-sign"></i></td>
			</tr>
		</thead>
		
		<tbody ng-controller="StoreController as store">
			
			<tr class="user_row" ng-repeat="product in store.products">
				<td>{{product.id}}</td>
				<td></td>
				<td>{{product.memo}}</td>				
				<td>
				
				</td>
			</tr>
			
		</tbody>
	</table>
</div>
<script type="text/javascript" >

(function() {
	  var app = angular.module('gemStore', []);

	  app.controller('StoreController', function($scope,$http) {

		  var account = this;
			account.list = new Array();
			$http.get('account/listjson').
		    success(function(data, status, headers, config) {
		    	account.products = data;
		    }).
		    error(function(data, status, headers, config) {
		    	console.info(data);
		    });
		    
// 	    	this.products = gems;
	  });

	})();
</script>
<script src="js/account.js"></script>

<script>
function order_by(this_td){

	$('#order_by').val( $(this_td).attr('data-orderby'));

	$('#list_orderby').submit();

}

$(".order_control").live( "click", function() {
	var order_name = $(this).attr('data-orderby');
	if(order_name) order_by(this);
	
	return false;
});	

</script>

