@charset "utf-8";
/* CSS Document */


#Main-Content{ clear: both; zoom: 1; position: relative;}
/*設定頂噓fixed多出蓋到的高度*/
@media only screen and (max-width: 680px){
.page-wrapper.container-fluid{ margin-bottom: 76px;}	
}
/*封面圖-----------------------------------------------------------------*/
#Main-Content .featured-image{ background:#000; margin-bottom:7px; text-align:center; max-width:100%;}
#Main-Content .featured-image img{/* width:100% !important;*/}
@media only screen and (max-width: 480px) {
#Main-Content .featured-image{ margin-bottom:0;}
}
/*文章區域---------------------------------------------------------------*/
#Wrapper.container{ padding-left:0px; padding-right:0px;}
#Content_Header .article_title{font-size: 28px; line-height: 32px; font-family:Arial, Helvetica, sans-serif, "微軟正黑體"; font-weight: 600;}
@media only screen and (max-width: 480px) {
#Content_Header .article_title{font-size: 26px; margin-top:10px;}
}
#Content_Header small, #Content_Header .meta{ font-size: 13px;}
#Content_Header small{ background:#ff5151; padding:3px 8px; color:#FFF; float:left; vertical-align:middle; margin-right:5px;}
#Content_Header small:last-child{margin-right:0;}
#Content_Header .meta{ letter-spacing: 0.1em; float: right}
#Content_Header .meta .editor{ color:#ff6666;}
#Content_Header .meta span{ margin: 0 3px;}
@media only screen and (max-width: 480px) {
#Content_Header small, #Content_Header .meta{  float:none; display:inline-block; margin-top:3px;}
}

/*2015/6/25 上方line分享*/
.top-share{ padding:10px 0; display:block;}
.top-share span{ padding-left:5px; display: table; float:left; } 
.top-share span:last-child{ padding-left:5px;}
.top-share .line .icon{  display: inline-block; width: 30px; height: 30px;
  background-image: url(../images/common/ui.svg);
  background-repeat: no-repeat;
  background-position: -165px -372px;
  outline: 0;}
.top-share .line:after{ content:attr(line-title);display: table-cell; vertical-align: middle; padding-left:5px; color:#028E02; font-size: 13px; font-weight: bold;}  
/*文章編輯區域-----------------------------------------------------------*/
#Content .Content_post{ font-family:Arial, Helvetica, sans-serif; font-size: 15px; line-height: 180%;/*30px*/ padding-bottom: 40px;}
#Content .Content_post .IMGcenter{  display: block; margin: 10px auto; clear: both; max-width: 84%;}
@media only screen and (max-width: 480px) {
#Content .Content_post .IMGcenter{ max-width: 100%;}
}

#Content .warring{ border-radius: 5px; text-align: center; line-height: 22px;
  color: #FFF;font-size: 15px;padding: 5px;background-color: #C74344 !important; font-weight: 700; margin: 7px auto 7px;}
/*相關標籤
-----------------------------------------------------------*/
.keyword_inner p,
.keyword_inner ul{float:left; height: 25px; overflow: hidden; word-break: keep-all;}
.keyword_inner{line-height:16px ;vertical-align:middle; padding: 10px auto; background: #FFF;}
.keyword_inner p{
	width: 5%
	margin-bottom: 5px;
	color: #3F3F3F;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif, "新宋体";
}
.keyword_inner ul{ width: 95%;}
.keyword_inner p span{ margin: 0 0 0 5px;}
.keyword_inner ul li a{margin-left:5px; margin-bottom:5px; padding:1px 5px;
	border:#ff5151 1px solid;
	border-radius: 3px;		/* CSS3草案 */  
	-webkit-border-radius: 3px;	/* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */  
	display:block; position:relative;
	background:#ff5151;
	color:#fff;
	}
#main-col .keyword_inner ul li a:hover{ background:#fff; color:#ff5151; border:#e2e2e2 1px solid; text-decoration:none;}
/*2015/7/9 新增 for手機 全文按鈕
------------------------------------------------------------*/
.all-detail-button{display: none;}
@media only screen and (max-width: 480px) {
.all-detail-button{max-width: 200px; background: #C74344; padding: 10px 15px; border-radius: 8px;
 margin: 15px auto 10px; display:block;
 text-align:center; font-weight: 700; color:#fff; font-size: 20px;
 font-family: Arial, "微軟正黑體", "Microsoft JhengHei", "新細明體", Helvetica, sans-serif; cursor: pointer;} 
.all-detail-button a{ color:#fff; text-decoration: none;}
}
/*2015/6/25 新增 加入粉絲團方塊
-----------------------------------------------------------*/
.Plr15.add-facebook{background: #fff; padding-bottom: 13px;}
.add-facebook .fans-club{margin: 10px 0 0 0;border: 4px solid #e4dfd4;border-top: none;padding-bottom: 13px;box-sizing: border-box; text-align:center;}
.add-facebook .fans-club h4{
font-size: 18px;line-height: 1.4;font-weight: normal;font-family: "Microsoft JhengHei",微軟正黑體,arial,sans-serif;	
border-bottom: 1px dashed #ddd;
  border-top: 4px solid #e4dfd4;
  color: #906900;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 13px;
  text-align: center;}
/*2015/6/25新增 上下則新聞方塊
-----------------------------------------------------------*/
.Plr15.article-pageNav{background: #fff;}
.article-pageNav{ padding-bottom: 20px;}
.article-pageNav ol{  padding:0; margin:0;}

.article-pageNav ol li{ list-style: none; list-style-type: none; display: inline-block;
 background:#eeeeee; margin: 5px 0 0 0; padding:8px;
font-size: 18px;line-height: 1.4;font-weight: normal;
font-family: "Microsoft JhengHei",微軟正黑體,arial,sans-serif;}
.article-pageNav ol li:hover{ background: #E8E8E8}
.article-pageNav ol li{ width:49%; float:left;}
.article-pageNav ol li.prev{ margin-right:1%;}
.article-pageNav ol li.next{ margin-left:1%;}
.article-pageNav ol li a{text-decoration:none; color:#333;}
.article-pageNav ol li span, .article-pageNav ol li a span{ display: block; width:100%; margin-bottom: 8px; color:#0085cd; font-size: 13px; font-weight: bold; text-decoration:none;}

.article-pageNav ol li.prev span:after, .article-pageNav ol li.next span:after{ content: attr(article-page-sort)}


@media only screen and (max-width: 680px){
.article-pageNav ol li{ width:100%; float:none; display: block;}	
.article-pageNav ol li.prev{ margin-right:0;}
.article-pageNav ol li.next{ margin-left:0;}	
	}  

/*content-final-feel---------------------------------------------------*/
.content-final-feel{ background: #fff;}
.content-final-feel small{ border-radius: 5px; display: block; padding:5px 10px; background:#9e8f94; color: #fff;
text-align:center; font-weight: 600; font-family:Arial, Helvetica, sans-serif; font-size: 15px; margin:2em 0 15px 0;}
@media only screen and (max-width: 480px) {
.content-final-feel small{margin:0 0 15px 0;}	
}
/*share-bar------------------------------------------------------------*/
.share-bar{ background:#fff; padding:10px auto; text-align:left;}
/*social-bar*/
ul.social-bar{ padding:10px 0; margin:10px 0; border-top: 1px solid #e9e9e9; border-bottom: 1px solid #e9e9e9;}
ul.social-bar li{ cursor: pointer; margin:5px 0 5px 5px; border-radius: 3px; padding: 5px 5px; font-size: 25px; line-height: 130%; color: #fff; display:inline-block; width: 40px; height:40px; text-align:center; vertical-align:middle; overflow:hidden;}
ul.social-bar li:last-child{ margin-right:0;}
ul.social-bar li.plurk, ul.social-bar li.share-nol i{ font-family:"Arial", Gadget, sans-serif;  font-weight: 700; letter-spacing: 0.5px;}
ul.social-bar li.facebook, ul.social-bar li.facebook:before{ background:#3c5a98; content:"\f09a";}
ul.social-bar li.plurk, ul.social-bar li.plurk:before{background:#d06723; content:"P";}
ul.social-bar li.line, ul.social-bar li.line:before{background:#00c400; content:"\f075";}
ul.social-bar li.google-plus, ul.social-bar li.google-plus:before{background:#d94833; content:"\f0d5";}
ul.social-bar li.twitter, ul.social-bar li.twitter:before{ background:#00acec; content:"\f099"}
ul.social-bar li.share-nol i{  font-weight: 700; font-size: 25px; padding:0 5px 0 0;}
ul.social-bar li.share-nol{ overflow: inherit; font-size: 13px; color:#000; font-weight: normal;}
@media only screen and (max-width: 480px) {
.share-bar{ text-align: center; background:#f2f3ee;} ul.social-bar{padding: 10px 0 5px; margin:0; border: none;} 
ul.social-bar li.share-nol{width:inherit; height:inherit;}
}
/*facebook-share-bar 2015/06/08新增*/
.facebook-share-bar{ background: #fff; padding: 15px 15px 5px; font-size: 25px; line-height: 130%; 
color: #fff; display:block; text-align:center; vertical-align:middle; overflow:hidden; width: 100%;}
.facebook-share-bar p{ width: 100%; background: #3c5a98; cursor: pointer; padding:5px; border-radius: 5px;}
.facebook-share-bar p:before {
 padding: 5px;
  border-radius: 3px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 25px;	
  content: "\f09a";}
.facebook-share-bar p:hover{ background:#3C8E98;}
.facebook-share-bar p small:before {font-family: "Microsoft JhengHei",微軟正黑體,arial,sans-serif; letter-spacing: 1px;
 content: "喜歡這篇文章嗎?趕快分享"; text-shadow: 0 2px 5px #333; }

/*like & unlike bar---------------------------------------------------*/
#votatron{ background:#fff; position:relative;}
@media only screen and (max-width: 680px) {
	#votatron{ background:#333;}
}
.votatron-wrapper {
  margin: 1em 0;
  padding: 6px;
  background: rgba(0,0,0,0.1);
  border-radius: 3px;/*底部邊框*/
}

.votatron3000, .votatron300 {/*紅色 bar 顏色 外觀*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 100%;
  height: 3em; /*2.5em*/
  background-color: #000;
  overflow: hidden;
  position: relative;
  padding-left: 6em;
  padding-right: 6em;
  background-size: 4px 4px, 4px 4px;
  /*background-image: -webkit-radial-gradient(#e31c23 1px, rgba(0,0,0,0.5) 0px, transparent 0px),-webkit-radial-gradient(#e31c23 1px, rgba(0,0,0,0.5) 0px, #000 0px);
  background-image: radial-gradient(#e31c23 1px,rgba(0,0,0,0.5) 0px,transparent 0px),radial-gradient(#e31c23 1px,rgba(0,0,0,0.5) 0px,#000000 0px);*/
  background-position: 0 0, 2px 2px;
  /*2015-5-20 新加顏色*/
  background-color: #d9534f;
  /*條紋*/
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
  display: table;
}



.votatron3000.animated .like-bar, .animated.votatron300 .like-bar { /*黃色 bar 動畫速度*/
  -webkit-transition: width 0.25s ease-in-out 0s;
  -moz-transition: width 0.25s ease-in-out 0s;
  transition: width 0.25s ease-in-out 0s;
}
.votatron3000 .unlike-bar, .votatron300 .unlike-bar {/*紅色 bar 顏色 外觀*/
  overflow: hidden;
 /* float: right;*/
  display: inline-block;
  height: 100%;
  background-color: transparent;
  background-size: 4px 4px, 4px 4px;
  /*background-image: -webkit-radial-gradient(#e31c23 1px, rgba(0,0,0,0.5) 0px, transparent 0px),-webkit-radial-gradient(#e31c23 1px, rgba(0,0,0,0.5) 0px, #000 0px);
  background-image: radial-gradient(#e31c23 1px,rgba(0,0,0,0.5) 0px,transparent 0px),radial-gradient(#e31c23 1px,rgba(0,0,0,0.5) 0px,#000000 0px);*/
  background-position: 0 0, 2px 2px;
  margin: 0 auto;
  text-align: center; 
  display: table;
}
.votatron3000 .like-bar, .votatron300 .like-bar {/*黃色 bar 顏色 外觀*/
  overflow: hidden;
  float: left;
  display: inline-block;
  height: 100%;
  background-color: transparent;
  background-size: 4px 4px, 4px 4px;
  /*background-image: -webkit-radial-gradient(#5cb85c 1px, rgba(0,0,0,0.5) 0px, transparent 0px),-webkit-radial-gradient(#5cb85c 1px, rgba(0,0,0,0.5) 0px, #000 0px);
  background-image: radial-gradient(#5cb85c 1px,rgba(0,0,0,0.5) 0px,transparent 0px),radial-gradient(#5cb85c 1px,rgba(0,0,0,0.5) 0px,#000000 0px);*/
  background-position: 0 0, 2px 2px;
  /*2015-5-20 新加顏色*/
  background-color: #5cb85c;
  /*條紋*/
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
display: table;
}
.votatron3000 p, .votatron300 p{ display: table-cell; vertical-align: middle; min-height:100%; text-align:center;   font-size: 20px; margin: 0 auto;}
.like-percent{ color:#194A29}
.unlike-percent{ color:#4C1415;}
.votatron3000 .vote-like, .votatron300 .vote-like, .votatron3000 .vote-unlike, .votatron300 .vote-unlike { /*投票 黃紅按鈕設定*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 6em;
  background-color: #018b00;
  color: white;
  opacity: 1;
  box-shadow: 4px 0px 10px 2px rgba(0,0,0,0.5);
  text-align: center;
  line-height: 380%;/*文字高度*/
  background-image: -webkit-linear-gradient(right, #018b00, rgba(0,0,0,0.1) 200%);
  background-image: linear-gradient(to left, #018b00,rgba(0,0,0,0.1) 200%);
  -webkit-transition: width 0.5s linear 0.3s;
  -moz-transition: width 0.5s linear 0.3s;
  transition: width 0.5s linear 0.3s;
  outline: 0;
  text-decoration: none;
}
.votatron3000 .vote-like:hover, .votatron300 .vote-like:hover, .votatron3000 .vote-unlike:hover, .votatron300 .vote-unlike:hover{backgrond-image:none;}
.votatron3000 .vote-like:hover,.votatron300 .vote-like:hover,.votatron3000 .vote-unlike:hover,.votatron300 .vote-unlike:hover{background-image:none}


.votatron3000 .vote-unlike, .votatron300 .vote-unlike {/*投票 紅按鈕設定*/
  color: #fff;
  left: auto;
  right: 0;
  background-color: #e31c23;
  box-shadow: -4px 0px 10px 2px rgba(0,0,0,0.5);
  background-image: -webkit-linear-gradient(left, #e31c23, rgba(0,0,0,0.1) 200%);
  background-image: linear-gradient(to right, #e31c23,rgba(0,0,0,0.1) 200%);
}

.fodicon-logo-like:before, .fodicon-logo-unlike:before{
  font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
  font-size: 25px;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  font-weight: bold;
  }
  
.fodicon-logo-like:before{ content:attr(data-title);}
.fodicon-logo-unlike:before{ content:attr(data-title);}


/*按下funny設定*/.votatron3000.votatron-like-active,.votatron-like-active.votatron300{padding-right:0;padding-left:0}
.votatron3000.votatron-like-active.votatron-like-hover .vote-like,.votatron-like-active.votatron-like-hover.votatron300 .vote-like,.votatron3000.votatron-like-active.votatron-like-hover .vote-unlike,.votatron-like-active.votatron-like-hover.votatron300 .vote-unlike,.votatron3000.votatron-like-active.votatron-unlike-hover .vote-like,.votatron-like-active.votatron-unlike-hover.votatron300 .vote-like,.votatron3000.votatron-like-active.votatron-unlike-hover .vote-unlike,.votatron-like-active.votatron-unlike-hover.votatron300 .vote-unlike{cursor:default;background-image:none}
/*按下funny to  100% active*/
.votatron3000.votatron-like-active .vote-like,.votatron-like-active.votatron300 .vote-like{background-image:none;cursor:normal}
.votatron3000.votatron-like-active .like-bar,.votatron-like-active.votatron300 .like-bar,.votatron3000.votatron-like-active.votatron-like-hover .like-bar,.votatron-like-active.votatron-like-hover.votatron300 .like-bar{width:100% !important}
.votatron3000.votatron-like-active .unlike-bar, .votatron300.votatron-like-active .unlike-bar{ display: none;}
.votatron3000.votatron-like-active .vote-like,.votatron-like-active.votatron300 .vote-like{width:100%}
.votatron3000.votatron-like-active .vote-unlike,.votatron-like-active.votatron300 .vote-unlike{visibility:hidden}
/*按下die設定*/.votatron3000.votatron-unlike-active,.votatron-unlike-active.votatron300{padding-right:0;padding-left:0}
.votatron3000.votatron-unlike-active.votatron-like-hover .vote-like,.votatron-unlike-active.votatron-like-hover.votatron300 .vote-like,.votatron3000.votatron-unlike-active.votatron-like-hover .vote-unlike,.votatron-unlike-active.votatron-like-hover.votatron300 .vote-unlike,.votatron3000.votatron-unlike-active.votatron-unlike-hover .vote-like,.votatron-unlike-active.votatron-unlike-hover.votatron300 .vote-like,.votatron3000.votatron-unlike-active.votatron-unlike-hover .vote-unlike,.votatron-unlike-active.votatron-unlike-hover.votatron300 .vote-unlike{background-image:none}
.votatron3000.votatron-unlike-active .vote-unlike,.votatron-unlike-active.votatron300 .vote-unlike{background-image:none;cursor:normal}
/*按下die to  0% active*/
.votatron3000.votatron-unlike-active .like-bar,.votatron-unlike-active.votatron300 .like-bar,.votatron3000.votatron-unlike-active.votatron-unlike-hover .like-bar,.votatron-unlike-active.votatron-unlike-hover.votatron300 .like-bar{width:0% !important}
.votatron3000.votatron-unlike-active .like-bar p, .votatron-unlike-active.votatron300 .like-bar p,.votatron3000.votatron-unlike-active.votatron-unlike-hover .like-bar p,.votatron-unlike-active.votatron-unlike-hover.votatron300 .like-bar p{ display:none;}
.votatron3000.votatron-unlike-active .vote-unlike,.votatron-unlike-active.votatron300 .vote-unlike{width:100%}
.votatron3000.votatron-unlike-active .unlike-bar, .votatron-unlike-active.votatron300 .unlike-bar{width:100% !important;}
.votatron3000.votatron-unlike-active .vote-like,.votatron-unlike-active.votatron300 .vote-like{visibility:hidden}
.operamini .votatron3000,.operamini .votatron300{display:none}.js .votatron3000.disabled,.js .disabled.votatron300{background-size:4px 4px, 4px 4px;
background-image:-webkit-radial-gradient(#464646 1px, rgba(0,0,0,0.5) 0px, transparent 0px),-webkit-radial-gradient(#464646 1px, rgba(0,0,0,0.5) 0px, #000 0px);
background-image:radial-gradient(#464646 1px,rgba(0,0,0,0.5) 0px,transparent 0px),radial-gradient(#464646 1px,rgba(0,0,0,0.5) 0px,#000000 0px);background-position:0 0, 2px 2px}
.js .votatron3000.disabled .vote-like,.js .disabled.votatron300 .vote-like,.js .votatron3000.disabled .vote-unlike,.js .disabled.votatron300 .vote-unlike{cursor:default;background:#464646;color:#1b1b1b}
.js .votatron3000.disabled .like-bar,.js .disabled.votatron300 .like-bar{width:0% !important}.votatron300{height:4px;background-color:rgba(0,0,0,0.7);padding:0}

@media only screen and (max-width: 680px){
#votatron{position: fixed; bottom: -1px;z-index: 99;width: 100%;}
.votatron3000 p, .votatron300 p{ font-size: 15px;}

}
@media only screen and (max-width: 480px){
.votatron3000 p, .votatron300 p{ display: none;}
.votatron3000 .like-bar, .votatron300 .like-bar, .votatron3000 .unlike-bar, .votatron300 .unlike-bar{display: inline-block;}
.votatron3000, .votatron300{ display:block;}
}
/*like & unlike bar END---------------------------------------------------*/


/*下方與右側 圖片變色---------------------------------------------------------
#aside img, .related-article img {-webkit-filter: grayscale(100%);}
#aside img:hover, .related-article img:hover {-webkit-filter:grayscale(0)}
@media only screen and (max-width: 761px) {#aside img, .related-article img{-webkit-filter:grayscale(0)}}*/
/*列表框框--------------------------------------------------------------------*/
/*圖片置中 隱藏左右*/
.wp-post-image{ max-width:inherit; width:100%;}
/*列表框框 標題 h4*/
h4.entry-title{/*position:absolute;*/z-index:2;bottom:-10px;left:0px;text-transform:uppercase; line-height:150%;
font-family: "Microsoft JhengHei",微軟正黑體,arial,sans-serif; font-size: 18px; font-weight: normal; 
background: none; padding:10px 5px; display:block; width: 100%; line-height: 1.4; margin:0; }
h4.entry-title a{color:#FFF; text-decoration:none;}
h4.entry-title a:hover{ color:#ccc;}
#aside h4.entry-title{background:#2F2F2F}
@media only screen and (max-width: 480px) {
#aside{ background:#f1f1f1;}	
h4.entry-title, #aside h4.entry-title{ background: none;}
h4.entry-title a, #aside h4.entry-title a{color: #333;}
h4.entry-title a:hover, #aside h4.entry-title a:hover{color: #666;}	
}
/*related-article 推薦文章---------------------------------------------------*/
.related-article{margin-top: 7px;}
.related-article > ul { padding:0;}
.related-article > ul > li{
	color:#3C3C3C;
	/*height: 228px;*/
	list-style: none;
	/*background:#666;*/
	position: relative;
	overflow: hidden;
	clear: none;
}

.related-article > ul > li img{ display: block; position: relative;/* height: 275px;width: auto;*/}
.related-article > ul > li a.thumb {/*left: 50%;*/display: block;/*position: relative; float: left;*/}
.related-article > ul > li a.thumb img{/*right:50%;*/display:block;/*position:relative;height:275px;width:auto*/}

@media only screen and (max-width: 480px) {
.related-article{ background:#f1f1f1;}
.related-article > ul > li:first-child{ height: inherit !important;}	
.related-article{margin-top: 0;}
}
/*related 推薦文章結束-----------------------------------------------------*/

/*aside-右側-------------------------------------------------------------*/
/*aside-category-article 相關文章*/


.aside-category-article > ul { padding:0;}
.aside-category-article > ul > li{
	color:#3C3C3C;
	/*height: 228px;*/
	list-style: none;
	/*background:#666;*/
	position: relative;
	overflow: hidden;
	clear: none;}

.aside-category-article > ul > li img{ display: block; position: relative; /*height: 275px;width: auto;*/}
.aside-category-article > ul > li a.thumb {/*left: 50%;*/display: block;position: relative; /*float: left;*/}
.aside-category-article > ul > li a.thumb img{/*right:50%;*/display:block;position:relative;/*height:275px;width:auto*/}
@media only screen and (min-width:980px) {
#aside .aside-category-article .col2 > li, #aside .aside-category-article .col3 > li, #aside .aside-category-article .col4 > li{width: 98.5% !important;}
}

.aside-keyword{ background:#9E9E9E; padding-bottom:5px; margin-bottom:15px;}
.aside-keyword ul{padding:8px;}
.aside-keyword ul li a{
	margin-left:5px;
	margin-bottom:5px; 
    padding:1px 5px;
	border:#e2e2e2 1px solid;
	border-radius: 3px;		/* CSS3草案 */  
	-webkit-border-radius: 3px;	/* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */  
	display:block; position:relative;
	background:#fff;
	color:#000;
	font-family: "Microsoft JhengHei",微軟正黑體,arial,sans-serif;
  	font-size: 16px;
  	font-weight: normal;
	line-height: 1.4;
	}
.aside-keyword ul li a:hover{ background:#ff5151; color:#ffF; border:#ff5151 1px solid; text-decoration:none;}
/*aside-右側結束----------------------------------------------------------*/


/*lightbox------------------------------*/
.scroll-lightbox {
position: fixed;top: 50% !important;margin-top: -251px;
right: 0; bottom: 0; left: 0;z-index: 1050; display: none; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0; overflow-x: hidden;overflow-y: auto;}
.scroll-lightbox .facebook-fans-box{ margin-bottom: 10px; text-align:center; display:block;}

.scroll-lightbox .dialog {position: relative;width: inherit; max-width: 320px; margin: 70px auto 5px;}
.scroll-lightbox .content {
position: relative;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #999;
border: 1px solid rgba(0,0,0,.2);
border-radius: 6px;
outline: 0;
-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
box-shadow: 0 3px 9px rgba(0,0,0,.5);}
.scroll-lightbox .body {position: relative;padding: 10px;}

.scroll-lightbox a.close {float: none; font-size: 16px; color: #353535; filter: alpha(opacity=70); opacity: .7;}
.scroll-lightbox a.close:hover, .scroll-lightbox a.close:focus {color: #353535; filter: alpha(opacity=100); opacity: 1;}
.scroll-lightbox button.close {
margin-top: 5px;
float: right;
font-size: 30px;
font-weight: 700;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
filter: alpha(opacity=70);
opacity: .7;}
.scroll-lightbox button.close:hover, .scroll-lightbox button.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
filter: alpha(opacity=100);
opacity: 1;
}
.scroll-lightbox .logo-icon{background: url(../images/common/ui.svg) -160px -372px no-repeat; width: 100px; height: 120px;
 position: absolute; left: 4%; top:-70px;}
.scroll-lightbox h4, .scroll-lightbox h5, .scroll-lightbox .fb-liked{font-family: Arial, "微軟正黑體", "Microsoft JhengHei", "新細明體", Helvetica, sans-serif;}
.scroll-lightbox h4{ color:#000; text-align: center;font-size: 24px; padding: 30px 20px 10px; }
.scroll-lightbox h5{ font-size: 17px;   padding: 0px 20px 20px; line-height: 150%; letter-spacing: 0.5px;}
.scroll-lightbox h5 a {display: inline-block;color: #366A90;text-decoration: none; border-bottom: 3px solid #ff5151;}
.scroll-lightbox p{ font-size: 15px; margin:0;}
.scroll-lightbox .facebook-fans-box{  background: url(../images/common/ui.svg) 0px -372px no-repeat; 
 width: 150px; height: 128px; padding: 20px 40px; margin: 10px auto 30px;  text-align: center;}
.scroll-lightbox .fb-liked{ background:#ccc; width: 100%; padding: 15px; border-radius: 5px; margin-bottom: 10px; text-align: center;} 
.scroll-lightbox .fb-liked p{font-size: 18px;}
.scroll-lightbox .fb-liked p:before{ font: normal normal normal 14px/1 FontAwesome; content:"\f046"; margin-right: 5px; font-size: 18px; }
.scroll-lightbox .fb-liked:hover{ background:#e4e4e4;}
@media (min-width: 768px){
.scroll-lightbox .dialog{width: 450px; margin: 70px auto 30px; max-width: 450px;}
.scroll-lightbox .content {
-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
box-shadow: 0 5px 15px rgba(0,0,0,.5);}
.scroll-lightbox .body {padding: 15px;}
}
/*scroll-lightbox2*/
.scroll-lightbox2 {
position: fixed;top: 50% !important;margin-top: -210px;
right: 0; bottom: 0; left: 0;z-index: 1050; display: none; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0; overflow-x: hidden;overflow-y: auto;}
.scroll-lightbox2 .facebook-fans-box{ margin-bottom: 10px; text-align:center; display:block;}

.scroll-lightbox2 .dialog {position: relative;width: inherit; max-width: 320px; margin: 70px auto 5px;}
.scroll-lightbox2 .content {
position: relative;
background-color: #fff;
-webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #999;
border: 1px solid rgba(0,0,0,.2);
border-radius: 6px;
outline: 0;
-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
box-shadow: 0 3px 9px rgba(0,0,0,.5);}
.scroll-lightbox2 .body {position: relative;padding: 10px;}

.scroll-lightbox2 a.close {float: none; font-size: 16px; color: #353535; filter: alpha(opacity=70); opacity: .7;}
.scroll-lightbox2 a.close:hover, .scroll-lightbox a.close:focus {color: #353535; filter: alpha(opacity=100); opacity: 1;}
.scroll-lightbox2 button.close {
margin-top: 0px;
float: right;
font-size: 22px;
font-weight: 600;
line-height: 1;
color: #ADADAD;
text-shadow: 0 1px 0 #fff;
filter: alpha(opacity=70);
opacity: .7;}
.scroll-lightbox2 button.close:hover, .scroll-lightbox2 button.close:focus {
color: #666;
text-decoration: none;
cursor: pointer;
filter: alpha(opacity=100);
opacity: 1;
}

.scroll-lightbox2 h4, .scroll-lightbox2 h5, .scroll-lightbox2 .fb-liked{font-family: Arial, "微軟正黑體", "Microsoft JhengHei", "新細明體", Helvetica, sans-serif;}
.scroll-lightbox2 h4{ color:#000; text-align: left;font-size: 20px; padding: 0 0 10px; margin:0 0 15px 0; border-bottom: 1px solid #ccc; }
.scroll-lightbox2 h5{ font-size: 17px;   padding: 0px 20px 0px; line-height: 150%; letter-spacing: 0.5px; text-align: center;}
.scroll-lightbox2 h5 a {display: inline-block;color: #366A90;text-decoration: none; border-bottom: 3px solid #ff5151;}
.scroll-lightbox2 p{ font-size: 15px; margin:0;}
.scroll-lightbox2 .facebook-fans-box{ width: 150px; margin: 10px auto 25px;  text-align: center;}
.scroll-lightbox2 .fb-liked{ background:#ccc; width: 100%; padding: 10px; border-radius: 5px; margin-bottom: 5px; text-align: center;} 
.scroll-lightbox2 .fb-liked p{font-size: 15px;}
.scroll-lightbox2 .fb-liked p:before{ font: normal normal normal 14px/1 FontAwesome; content:"\f046"; margin-right: 5px; font-size: 18px; }
.scroll-lightbox2 .fb-liked:hover{ background:#e4e4e4;}
@media (min-width: 768px){
.scroll-lightbox2 .dialog{width: 450px; margin: 70px auto 30px; max-width: 450px;}
.scroll-lightbox2 .content {
-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
box-shadow: 0 5px 15px rgba(0,0,0,.5);}
.scroll-lightbox2 .body {padding: 15px;}
}
/*lightbox 黑底背景*/
.lightbox-backdrop{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1040;background-color: #000;}
.lightbox-backdrop.in {filter: alpha(opacity=50);opacity: .5;}
