@charset "utf-8";
/* CSS Document */
/* -----------------------------------------
  COMMENTS
----------------------------------------- */
#comments {
/*border-top: 1px solid #d0d2d1;*/
zoom: 1;
/*margin-top: 20px;
border-top: solid 1px #e9e9e9;
padding: 20px 0 0;*/
}

#comments .comments-container *,#comments *.comments-container {
font-family: 'DroidSansRegular',"Helvetica Neue","Helvetica", "新宋体",Helvetica, Arial, sans-serif !important;}

#comments .composebox-post,
#comments *.composebox-error {border: none !important; border-radius: 0 !important;}

#comments *.composebox-error {
	text-align: center;
	line-height: 22px;
	color: #FFF;
	font-size: 13px;
	padding: 5px;
	background-color: #C74344 !important;
	margin-bottom: 7px;
}

#comments *.comments-share-provider {
	width: 40px !important;
}

#comments article {
	padding: 10px 0;
}

#comments ol.comment-list, #comments ul.children {
	list-style-type: none;
}

#comments ol.comment-list {
	margin-left: 0;
}

#comments li.comment article.comment{
	border-bottom:1px solid #d0d2d1;	
}


.comments-container * {
font-size: 12px;
transition: none 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
-webkit-transition: none 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}


.comments-container *, *.comments-container {
word-wrap: break-word;
/*padding: 0px;
margin: 0px;*/
text-decoration: none;
/*width: auto;
float: none;
font-family: arial, "新宋体";*/
position: static;
vertical-align: baseline;
/*-moz-box-sizing: content-box;
box-sizing: content-box;*/
}


*.composebox-header {transition-property:max-height; overflow:hidden;max-height:0;}
.composebox-open *.composebox-header {max-height:40px;margin-bottom:4px;}

img.comment-img {border-radius:3px;}
*.composebox-photo {float:left;width: 37px;height:37px; position:relative}
.composebox-editor {text-align: right;padding: 0 9px 9px 9px;  margin-left: 45px}

*.composebox-editor, *.composebox-summary 
{background-color: #FFFFFF; border: 1px solid #D5D5D5; border-radius: 3px;box-shadow: 0 0 5px rgba(0, 0, 0, 0.05) inset; border: solid 1px #d5d5d5;}

*.composebox-textarea { line-height:18px;transition-property: min-height; text-align:left;cursor: text;min-height:17px;resize: none;border:none;margin-top:9px; outline:none}
*.composebox-textarea, *.composebox-textarea * {color:#585858 !important;font-size: 15px !important;}
textarea.composebox-textarea {overflow:hidden;width:100%;display:block;height:17px;}

/*2015-5-19 留言內容背景顏色*/
.Plr15.comment-lists{ background: #fff; padding-bottom: 10px;}

/*2015-5-19留言框背景顏色*/
.composebox{ padding:10px 15px;}
#comments.show-like .composebox{ background-color:#dfebdf;}
#comments.show-unlike .composebox{ background-color:#F4D5D5;}
#comments.show-lasted-new .composebox{ display: none;}
.Plr15.composebox-color, .Plr15 .comments-container-pc{ background-color: #fff; padding-top: 10px;}
@media only screen and (max-width: 768px) {
.composebox{ padding:10px 0px; background-color:#fff;}	
#comments.show-like .composebox, #comments.show-unlike .composebox{padding:10px 15px;}
.Plr15.composebox-color{ padding:10px 0 0;}
.comments-container-pc{padding-top: 0;}
}
#comments.show-like .comment-lists .comments-comments .comment.unlike{ display:none;}
#comments.show-unlike .comment-lists .comments-comments .comment.like{ display:none;}

.comments-composebox *.composebox-textarea {min-height:69px;}
.comments-composebox textarea.composebox-textarea {height:65px;}
.comments-composebox *.composebox-footer {display:block;}
*.composebox-footer {display:none;overflow:hidden;margin-top:4px;}

*.composebox-footer-left, *.composebox-footer-right {padding: 2px 0;}
*.composebox-footer-left {float:left;}
*.composebox-footer-right {float:right;}

*.composebox-post {-webkit-appearance: none;cursor:pointer;padding: 0 18px;font-size: 13px;font-weight: bold;color: #FFFFFF;line-height: 28px;border-radius: 3px;background-color: #2d68b7; box-shadow: 1px 1px rgba(255, 255, 255, 0.4) inset; border: 1px solid #486eae; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d68b7", endColorstr="#347cdd")}
*.composebox-post:hover {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d68b7", endColorstr="#347cdd");background: linear-gradient(top,  #2d68b7,  #347cdd);background: -ms-linear-gradient(top left, #2d68b7, #347cdd);background: -webkit-gradient(linear, left top, left bottom, from(#2d68b7), to(#347cdd));background: -moz-linear-gradient(top,  #2d68b7,  #347cdd);}
#comments .composebox-post:hover {
	background: #275a9f !important;
}

*.comments-header {overflow:hidden;border-bottom: 1px solid #EBEBEB; margin-bottom:8px;padding-bottom:8px; padding-top:30px}
#comments.show-lasted-new *.comments-header { padding-top:5px}
*.comments-header-right li {margin-top:3px;}
*.comments-count {font-size:13px;font-weight:bold;}

*.comment { width: 100%; }

*.comment * {color:#999999; }
*.comment .comment-content {padding-left:6px;transition-property:background-color, padding;}
/*2015-5-19 頂噓圈圈顏色*/
*.comment-sort{float:left;width: 27px;height:27px; position: relative; border-radius: 20px;
font-size: 13px; color: #fff !important; line-height: 200%; text-align:center; vertical-align:middle; margin-right:5px;}
*.comment.like .comment-sort{ background-color:#097d00;}
*.comment.unlike .comment-sort{ background-color:#e31c23;}
/*個人照片*/
*.comment-photo {float:left;width: 37px;height:37px; position: relative;}
img.comment-img {border-radius:3px;}
*.comment-providerLogo {text-align:right !important; width:14px;height:14px; position:absolute; right:0 }
*.comment-providerLogo img { width:14px;height:14px;margin-top:-11px;margin-right:-3px;display:inline-block;}
/*2015-5-19 留言與照片的間距*/
*.comment-data {/*padding-left:41px;*/padding-left:75px;}
.comment-replies *.comment-data, .comments-composebox *.comment-data{padding-left:42px;}


*.comment .comment-content {padding-left:6px;transition-property:background-color, padding;}
*.comment-newComment .comment-content {padding: 6px;background-color:#E5F8FF;border-radius:3px;}
*.comment-content .media-thumbnail-image { margin-left:0px; margin-right: 0px; }
*.comment-content .media-caption { margin:8px 12px 0px 0px; }


*.comment-header { overflow:hidden; margin-bottom:6px; }
*.comment-header-right { float:right; }
*.comment-header-left {float:left;}
*.comment-time {font-size: 11px;display:inline-block;margin:0 0 0 10px;}
/*使用者名稱 顏色&大小*/
.comment-username {font-weight:bold;color:#333333; font-size: 13px;}


*.comment-footer, *.comment-replies {padding-left: 6px}
*.comment-replies {transition-property: max-height;overflow:hidden;}
*.comment-replies-collapsed {display:none;}
*.comment-footer {font-size:11px;overflow:hidden;border-bottom: 1px solid #EBEBEB;margin: 10px 0; padding-bottom:10px;}
*.comment[data-level="0"]:last-of-type *.comment-footer:last-ch {border-bottom:none;}
*.comment-footer-left {float:left;}*.comment-footer li{cursor:pointer;}
*.comment .comment-replybox {display:none;background-color:#F6F6F6; padding:4px 6px;}


.comment-body ul {padding-left:20px;}
.comment-body li {list-style-type:disc}
/*留言內容文字大小*/
*.comment-body, .comment-body * {color:#585858; line-height:160%; line-height: 22px; font-size:14px;
font-family: arial, "新宋体";
/*line-height:18px; font-size:13px;*/}




*.comment-footer-right {float:right;}
*.comment-footer-right div {display:inline-block;height:16px;line-height:16px;vertical-align:bottom;}


#comments ul{padding:0}
*.comments-linksContainer {display:inline-block; margin:0}
/* 回應，分享，回覆文自顏色*/
*.comments-linksContainer li, *.comments-linksContainer a, *.comments-linksContainer li a:hover, *.comments-linksContainer a:active, *.comments-linksContainer a:visited, *.comments-linksContainer a:link {color:#3C82E0; cursor:pointer;display:inline-block; }
*.comments-linksContainer li:hover ,*.comments-linksContainer li a:hover{color:#3C82E0; cursor:pointer;display:inline-block; text-decoration: underline;}
*.comments-linksContainer li {margin-right:3px; list-style:none}
*.comments-linksContainer li:after {margin-bottom:5px;content:" ";width:2px;height:2px;background-color:#999999;vertical-align:bottom;margin-left:3px;display:inline-block;}
*.comments-linksContainer *.comments-link-lastVisible:after {content:"";margin:0;display:none;}
*.comments-linksContainer *.comments-link-lastVisible {margin-right:0;}
*.comments-header-right li {margin-top:3px;}

*.comment-vote-posneg *.comment-vote-neg {margin-left:2px;}

*.comment-vote-pos, *.comment-vote-pos-down, *.comment-vote-neg, *.comment-vote-neg-down {cursor:pointer;background-repeat:no-repeat;background-position: 0 0;padding-left: 14px;
/*2015-5-19 fa icon setting*/
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
transform: translate(0, 0);
}
*.comment-vote-pos {/*background-image: url('../images/common/Thumbs_up.png')*/}
*.comment-vote-pos-down {/*background-image: url('../images/common/Thumbs_up_pressed.png')*/}
/*2015-5-19 讚/不讚 icon*/
*.comment-vote-pos:before{content: "\f164";}
*.comment-vote-pos-down:before{content: "\f164"; color:#2965a1;}
*.comment-vote-neg:before{content: "\f165";}
*.comment-vote-neg-down:before{content: "\f165";color:#2965a1;}
*.comment-vote-pos:before, *.comment-vote-pos-down:before, *.comment-vote-neg:before, *.comment-vote-neg-down:before{font-size: 15px; margin-right:2px}


*.comment-vote-with-value {padding-left: 10px;}
*.comment-vote-total {margin-right:5px;}
*.composebox-data {margin-bottom:20px;}

*.composebox-header {transition-property:max-height; overflow:hidden;max-height:0;}
.composebox-open *.composebox-header {max-height:40px;margin-bottom:4px;}
.comments-reviews .composebox-header, .comments-reviews .composebox-open .composebox-header {max-height:none;}

*.comment .comment-replybox-open {display:block; background-color:#F6F6F6; padding:4px 6px;}
*.composebox-header-left {float:left;}
*.composebox-header-right {float:right;}
*.composebox-header-right *, *.composebox-header-left * {vertical-align:bottom;}
/*回覆框 留言者顏色+大小*/
*.composebox-title, *.composebox-name {display:inline-block;font-size:14px;font-weight:bold;margin:0 5px 0 0;}
*.composebox-logout {cursor:pointer;display:inline-block;font-size:11px; color: #999999;}
*.composebox-logout span {font-size:11px; color:#0796c6}
*.composebox-logout:hover span {text-decoration:underline}
*.comment-replybox *.composebox-close {display:inline-block; margin-left:5px;cursor:pointer; width: 13px; height: 13px; border-radius: 2px; background-color: #c9c6c6;box-shadow: inset 0 0 9px rgba(0, 0, 0, .26); -moz-box-shadow: inset 0 0 9px rgba(0, 0, 0, .26); -webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, .26);background-image:url('../images/common/close_icon.png'); background-position:center center; background-repeat:no-repeat;}
*.comment .composebox-title, *.comment .composebox-title * {font-weight:normal; font-style:italic;color:#333333}
*.comment .comment-replybox {
background-color: #F6F6F6;
padding: 4px 6px;
}


*.composebox-share {vertical-align:top;overflow:hidden;background-color:#F4F4F4; border-radius:3px; padding:0 4px;}
*.comment .composebox-share {border: 1px solid #E8E8E8}
*.composebox-share-text {line-height:26px;vertical-align:top;display:inline-block;color:#999999;}
*.composebox-share-providers {display:inline-block;}
*.comments-share-provider {display:none;height:28px;width:36px;background-position: 23px center;padding:4px 3px;background-repeat:no-repeat;cursor:pointer; border-right: 1px solid #FFFFFF;}

*.comments-share-provider-shown {display:inline-block;}

*.comments-share-provider-checkbox {width: 15px;height: 15px; border:1px solid #C6C6C6;margin-top:3px; display:inline-block;	border-radius: 1px; background-color: #fff;box-shadow: 0 0 5px rgba(189, 189, 189, 0.25) inset}
/**.comments-share-provider-checked *.comments-share-provider-checkbox {
	background-image: url('../../images/common/checkmark.png');
	background-position: center;
	background-repeat: no-repeat;}*/
	
	
*.comment-repliesArrow div, *.comment-share-to-facebook div {display:inline-block}
*.comment-repliesArrow-img {margin: 0 1px 0 6px; width: 9px; height:9px; margin-right:3px;background-image: url('../images/common/Reply_Arrow.png');background-repeat:no-repeat;background-position:0px 3px;}
*.comment-repliesArrow .comment-repliesArrow-img {}
*.comment-repliesArrow-collapsed .comment-repliesArrow-img {-webkit-transform:rotate(270deg); transform:rotate(270deg);}
*.comment-share-to-facebook .comment-shareArrow{ margin-left:3px;}
*.comment-share-to-facebook .comment-shareArrow i.fa-facebook{ color:#4074e1;}
*.comments-linksContainer *.comments-link-lastVisible:after {content:"";margin:0;display:none;}
*.comments-linksContainer *.comments-link-lastVisible {margin-right:0;}
@media only screen and (max-width: 768px) {
*.comment-share-to-facebook .comment-shareArrow{ display:none;}	
}

*.composebox-close {
	display: inline-block;
	margin-left: 5px;
	cursor: pointer;
	width: 13px;
	height: 13px;
	border-radius: 2px;
	background-color: #c9c6c6;
	box-shadow: inset 0 0 9px rgba(0, 0, 0, .26);
	-moz-box-shadow: inset 0 0 9px rgba(0, 0, 0, .26);
	-webkit-box-shadow: inset 0 0 9px rgba(0, 0, 0, .26);
	background-image: url('../images/common/close_icon.png');
	background-position: center center;
	background-repeat: no-repeat;
}
*.composebox-close:hover { background-color: #ebebeb; }

/*2015-5-19 nav 標籤列表*/
#comments .commtents-nav{/*border-top: solid 1px #e9e9e9;*/ padding: 10px 0 0;}
#comments .commtents-nav li{ text-align: center; vertical-align: middle;}
#comments .commtents-nav li a{  padding: 5px 10px;display: block; margin: 0 3px; border: 1px #ccc solid; border-radius: 5px; background:#f0f0f0; font-size: 15px; font-weight: 700;}
#comments .commtents-nav li.lasted-new-tab a.active, #comments .commtents-nav li.like-tab a.active, #comments .commtents-nav li.unlike-tab a.active,
#comments .commtents-nav li.lasted-new-tab a:hover, #comments .commtents-nav li.like-tab a:hover, #comments .commtents-nav li.unlike-tab a:hover{color:#fff;} 
#comments .commtents-nav li.lasted-new-tab a.active, #comments .commtents-nav li.lasted-new-tab a:hover{ background:#ef9c0b}
#comments .commtents-nav li.like-tab a.active, #comments .commtents-nav li.like-tab a:hover{ background:#008b00;}
#comments .commtents-nav li.unlike-tab a.active, #comments .commtents-nav li.unlike-tab a:hover{ background:#e31b23;}
#comments .commtents-nav li.like-tab a{color:#008b00;}
#comments .commtents-nav li.unlike-tab a{color:#e31b23;}
#comments .commtents-nav li.lasted-new-tab a{ color:#000}