@CHARSET "UTF8";
	/*Bootstrap container*/	
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 
   	{
		padding: 0;
		margin: 0;
   	}
   	
   	.main{   		
			min-width: 760px;
  			padding-right: 0px;
  	}
	@media (min-width: 768px) {
		.container {  width: 760px;}
	}	
	@media (min-width: 992px){
		.container {  width: 970px;}
	}
	@media (min-width: 1200px) {
		.container {  	width: 1200px;	}
		.main{   		
			width: 72%;
			min-width: 760px;
  			padding-right: 10px;
  		}
  		.right_bar{
  			width: 28%;
  		}
	}
	.container{
		padding: 0;
	}

	.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{	
		font-weight: bold;
	}
	
	UL{
		list-style: none;
		padding: 0;
		margin: 0;
	}
	A{
		text-decoration: none;
		color:#000;
	}
	header{
		
	}
	

	DM728{
		display:inline-block;
		width:728px;	
		height:90px;
		overflow: hidden;
		background:url("../img/728x90.jpg") center no-repeat; 	
	}
	
	DM300x250{
		display:inline-block;
		width:300px;
		height: 250px;		
		overflow: hidden;
		background:url("../img/ad.jpg") center no-repeat; 	
	}
	DM334x280{
		display:block;
		width:336px;
		height: 280px;		
		overflow: hidden;
		background:url("../img/334x280.jpg") center no-repeat; 	
		margin: auto;
	}
	.mainBody{
   		min-width: 760px;
   	}	
   	
   	.centerBlock{   
  		display: block;
  		margin: auto;
  		text-align: center;
   	}
	.siteMenu{
		width: 100%;
		height: 85px;
		margin: 15px 0;
	}
	.siteMenu UL LI{
		float:left;
		padding: 2px 14px;
		font-size: 16px;
		font-weight: bold;
	}
	
	.siteMenu UL LI:first-child A{
		color:red;
	}
	.WebLogo{
		float:left;
		 line-height: 85px;
	}
	.WebLogo IMG{
		vertical-align: bottom;
	}
	.topMenu{
		float:right;
	}
	.benner_like{
		text-align:right;	
		display: block;
	}
	
	
	/*Right Bar*/
	.cover_list{	  
	    height: 250px;
	    background-size: cover;
	    line-height: 250px;
	    position: relative;
	}
	.cover_list .title{
	    vertical-align: bottom;
	    line-height: 20px;
	    display: block;
	    background: #000;
	    bottom: 0;
	    position: absolute;
	    width:100%;
	    padding: 15px 12px;
		color: #fff;
	}
	/*Article*/
	.article{
		background-color: #fff;
		padding: 22px;
		line-height: 30px;
		color: #333;
		font-family: 微軟正黑體;
		font-size: 18px;
	}
	.article P{
		line-height: 150%;
	}
	.article_info {
		  line-height: 20px;
		  margin-bottom: 16px;
		  clear: both;
		  height: 30px;
	}
	.category_title{
		float:left;
		background: #ff5152;
		color: #fff;
  		font-size: 14px;
  		padding: 2px 5px;
	}
	.editor{
		float:right;
		color: #ff5152;
	}
	.editor:BEFORE {
		content: attr(data-publish)' // ' ;
		color:#000;
	}
	.article_title{
		font-size: 26px;
		line-height: 32px;
	}
	.content IMG.IMGcenter{
		display: block; 
  		margin: 10px auto; 
  		clear: both; 
  		max-width: 84%;
	}
	
	
	/*new_article*/
	.mobile_dm{
		display: none;
	}
	@media (min-width: 990px){
		.main-col{
			padding-right: 9px;
		}
	}
	
	@media (max-width: 768px){
		.mobile_dm{
			display: block;
		}
	}

#Content .Content_post{
	font-size: 16px;
}
.embed-responsive{
	text-align: center;
}

.votatron3000 .like-bar[data-per="0%"], .votatron3000 .unlike-bar[data-per="0%"]{
	display: none;
}

#comments.show-like .comments-count:BEFORE {
	content: attr(show-like);
}

#comments.show-unlike .comments-count:BEFORE {
	content: attr(show-unlike);
}

#comments.show-lasted-new .comments-count:BEFORE {
	content: attr(show-lasted-new);
}

#comments .commtents-nav li {
	cursor: pointer;
}

.comments-composebox {
	text-align: center;
}

*.comment:BEFORE {
	content: attr(comment-sort);
	float: left;
	width: 27px;
	height: 27px;
	position: relative;
	border-radius: 20px;
	font-size: 13px;
	color: #fff !important;
	line-height: 200%;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
}

*.comment.like:BEFORE {
	background-color: #097d00;
}

*.comment.unlike:BEFORE {
	background-color: #e31c23;
}

.comment-photo.providerLogo:BEFORE {
	width: 14px;
	height: 14px;
	content: ' ';
	text-align: right !important;
	width: 14px;
	height: 14px;
	position: absolute;
	right: -3px;
	bottom: -3px;
	background: url("img/common/FacebookUser_14x14.png");
}

.composebox-editor{
	margin-left: 0;
}

/*category*/

#main-col.col-lg-12{
	padding-right: 9px;
}

#Article-list .spec .update:AFTER {
	content: attr(datetime);
	font-size: 100%;
}
#Article-list .tags_inner{
	margin: 0;
  	float: left;
  	width: auto;
  	padding: 10px 10px 0;
}