@charset "utf-8";
@import url("menu/menu.css"); /*目錄*/
@import url("comment.css");
@import url("article.css"); /*頂噓bar*/


body{ background:#2f2f2f; position: relative; -webkit-text-size-adjust: none;}
@media (max-width:480px){ 
body{ background:#DCDCDC;}
}
img, object, embed, video {max-width: 100%;}
/* IE 6 不支援最大寬度，因此寬度預設為 100% */
.ie6 img {width:100%;}
.nobg {background: none !important;}
::selection { background: #FF5151; color: #FFF;}
:focus{ outline: 0;}

@media (min-width:1200px){.container{width:1180px}}
/*@media (min-width:1800px){.container{width:1654px}*/
/*ul li設定*/
.linelist {list-style: none;margin: 0;padding: 0;}
.linelist li {margin: 0;padding: 0;word-spacing: normal;letter-spacing: normal;display: inline-block;}

/* #Main-ContenSection */
#main-col .inner, .wrapper-col .inner ,#second-col .inner{background: #fff;}
#Main-Content section > .inner{padding:10px 15px;}
#Main-Content section > .inner > .inner{padding:0 20px;}
@media only screen and (max-width: 480px) {
#Main-Content section > .inner{padding:15px 10px;}
}

/*footer*/
footer{ background:#000; position: relative; margin: 32px 0 0 0;}
footer .container section{ padding: 5px;}
footer .link span{ border-right: 1px solid #ccc; margin-right: 8px; padding-right: 8px }
footer .link span:last-child { border-right: none; margin-right: 0;}
footer .link a{color: #ebebeb;}
footer .copyright{ color:#CCC;}
footer p{ margin: 0;}
footer .left{ float: left;  margin: 15px 0 0 0;}
footer .right{ float: right;  margin: 15px 0 0 0;}
@media only screen and (max-width: 600px){
footer { height: inherit; padding: 5px 0; position:static; margin: 5px 0 0 0;}
body {margin-bottom: 0px !important;}
footer .left, footer .right{ float: none;   margin: 10px 0 0 0;}
footer .right{ margin: 15px 0 10px 0;}
footer p{ text-align:center; letter-spacing:0; }
footer .link span{ display:block; width:100%; padding: 10px; border-right:none; border-bottom: 1px solid #999;  font-size: 15px;}
}
/*footer GoTop*/
#toplink{display:block;height:50px; width:50px;}
#toplink {background: url(../images/common/ui.svg) -204px -103px no-repeat; position: static; float: left; margin: 0 10px 0 0;}
#toplink:hover{background:url(../images/common/ui.svg) -204px -52px no-repeat}
#toplink, #toplink:hover{
-webkit-transition-duration:200ms;-webkit-transition-property:background-position;
-webkit-transition-timing-function:ease;-moz-transition-duration:200ms;
-moz-transition-property:background-position;-moz-transition-timing-function:ease}
@media screen and (max-width:1199px){
#toplink{margin:0 21px 0 0}}
@media screen and (max-width:600px){
#toplink{display:block;height:33px; width:33px;  position: absolute; z-index:99;}
#toplink {background: url(../images/common/ui.svg) -683px -86px no-repeat;}
#toplink:hover{background:url(../images/common/ui.svg) -683px -52px no-repeat}	
/*footer #toplink{margin:0 0 60px}*/
}	

/*分頁大標題*/
#page-title h1 {
  font-family: "Microsoft JhengHei",微軟正黑體,arial,sans-serif;
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding: 20px;
  color:#F2DB65;
  font-weight: normal;
}
#page-title {
  background: none;
  width: auto;
  margin: 0;
}
@media only screen and (max-width: 600px){
	#page-title h1 { font-size: 20px;  padding: 15px 15px 0; color: #F54646;}
	#page-title {   margin: 0;}
}

/*廣告*/
.ad-w300{ width:300px !important; height: auto !important; overflow:hidden; margin:0 auto 15px auto;}
.ad-w336{ width:336px !important; height: auto !important; overflow:hidden; margin:0 auto 15px auto;}
/*aside*/
#aside{ overflow:hidden}
/* Page 頁碼---------------------------------------*/
/* more pagination */
.pagination {width:100%;background-color:#000;display: block;}

.category .pagination {	margin: 0;}
.pagination h3{display:block; *text-align:right; font-family: "微軟正黑體", "Arial Unicode MS"; font-size: 15px; letter-spacing: 1px; color: #fff; margin-bottom: 0;
padding: 10px 10px 20px 0px; text-transform: uppercase;}
.pagination .nav-previous, .pagination .nav-next {display:inline-block;width:11px;height:12px;margin:0 5px;text-indent:-99999px;}
.pagination a {display:block;}
/*content nol pager*/
.pagenavi {clear: both; padding-top: 20px; padding-bottom: 20px !important; text-align: center; font-size: 108%; font-weight: 700;
font-family: 'Lato', sans-serif; -webkit-font-smoothing: antialiased; zoom: 1;}
.pagenavi:before {display: block; content: "";}
.pagenavi:after {display: block; clear: both; visibility: hidden; height: 0.1px; font-size: 0.1em; line-height: 0; content: "";}
.pagenavi span { width: 34px; height: 34px; vertical-align: top; line-height: 34px; font-weight: 700; display: inline-block;}
.pagenavi a { display: inline-block; width: 34px; height: 34px; line-height: 34px; color: #fff; background-color: #4C4C4C; margin: 0 5px;
overflow: hidden; -webkit-transition: 0.3s ease; -moz-transition: 0.3s ease; -o-transition: 0.3s ease; transition: 0.3s ease;}
.pagenavi a:hover { background: #eee; color: #000;text-decoration: none;}

.pagenavi .current{ background:#fff;}
.pagenavi .next-link:before{ content:">>";}
.pagenavi .previous-link:before{ content:"<<";}
.pagenavi .disabled:before{ content:"...";}
@media only screen and (max-width: 600px){
.pagination {background-color: #ccc;}
.pagenavi a {margin: 0;	}
}
/*2015/6/25 新增內文頁碼樣式*/
article#Content .pagination{ background: none;}
article#Content .pagenavi .current{ background:#ddd;}
.pagenavi a:hover { background: #ccc;}
.pagenavi a { background-color: #666;}
/*標題設定 底色&間距*/
.sec-desc {background: #FF5151 !important;}
.sec-desc h3{ font-family:Arial, Helvetica, sans-serif, "微軟正黑體"; font-size: 22px; font-weight:700; line-height: 26px; margin:0 0.8% 7px 0; padding: 10px; color: #FFF; text-transform:uppercase; letter-spacing: 0.1em; word-break:break-all;}
.sec-desc p {margin: 0 50px 25px 20px;color: #FFF; font-size: 15px; font-weight: 700;}
.sec-li { margin: 0 0 10px 20px;display: block;}
.sec-li a {float: left; margin: 0 23px 8px 0; color: #FFF; text-decoration: none; display: block; }
.sec-li a:hover{ color:#000;}
.sec-li a span {
  display: block;
  width: 17px;
  height: 17px;
  float: left;
  margin: 0 9px 0 0;
  background-image: url(../images/common/ui.svg);
  background-repeat: no-repeat;
  background-position: 0 -170px;
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: background-position;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 200ms;
  -moz-transition-property: background-position;
  -moz-transition-timing-function: ease;}

.sec-li a:hover span{background-position: -17px -170px;}
@media only screen and (max-width: 480px){
	.sec-desc h3{margin:10px 0.8% 10px 0;}
}
/*全站圖片移動速度:hover*/
#topnav a:hover, #topnav-left .nav-search .searchform input, .sec-li a:hover span{	
-webkit-transition-duration:200ms;
-webkit-transition-property:background-position;
-webkit-transition-timing-function:ease;
-moz-transition-duration:200ms;
-moz-transition-property:background-position;
-moz-transition-timing-function:ease;}

/*外框*/
.Plr15{ padding-right:15px; padding-left:15px;} 
.no-p{ padding: 0 !important;} .no-m{ margin: 0 !important;}
.no-p-t{ padding-top: 0 !important;} .no-m-t{ margin-top: 0 !important;}
.no-p-b{ padding-bottom: 0 !important;} .no-m-b{ margin-bottom: 0 !important;}
.wrapper-mr5{ margin-right: 5px;}.wrapper-ml5{ margin-left: 5px;}
.wrapper-mr7{ margin-right: 7px;}.wrapper-ml7{ margin-left: 7px;}
.wrapper-mr10{ margin-right: 10px;}.wrapper-ml10{ margin-left: 10px;}
.wrapper-mr15{ margin-right: 15px;}.wrapper-ml15{ margin-left: 15px;}
.wrapper-mr20{ margin-right: 20px;}.wrapper-ml20{ margin-left: 20px;}
@media only screen and (max-width: 979px) {
.wrapper-mr5, .wrapper-ml5, .wrapper-mr7, .wrapper-ml7, .wrapper-mr10, .wrapper-ml10, .wrapper-mr15, .wrapper-ml15, .wrapper-mr20, .wrapper-ml20{ margin: 0; }
}

/*resize -mL15 -mR15 */
.wrapper-col.col-xs-1, .wrapper-col.col-sm-1, .wrapper-col.col-md-1, .wrapper-col.col-lg-1, .wrapper-col.col-xs-2, .wrapper-col.col-sm-2, .wrapper-col.col-md-2, .wrapper-col.col-lg-2, .wrapper-col.col-xs-3, .wrapper-col.col-sm-3, .wrapper-col.col-md-3, .wrapper-col.col-lg-3, .wrapper-col.col-xs-4, .wrapper-col.col-sm-4, .wrapper-col.col-md-4, .wrapper-col.col-lg-4, .wrapper-col.col-xs-5, .wrapper-col.col-sm-5, .wrapper-col.col-md-5, .wrapper-col.col-lg-5, .wrapper-col.col-xs-6, .wrapper-col.col-sm-6, .wrapper-col.col-md-6, .wrapper-col.col-lg-6, .wrapper-col.col-xs-7, .wrapper-col.col-sm-7, .wrapper-col.col-md-7, .wrapper-col.col-lg-7, .wrapper-col.col-xs-8, .wrapper-col.col-sm-8, .wrapper-col.col-md-8, .wrapper-col.col-lg-8, .wrapper-col.col-xs-9, .wrapper-col.col-sm-9, .wrapper-col.col-md-9, .wrapper-col.col-lg-9, .wrapper-col.col-xs-10, .wrapper-col.col-sm-10, .wrapper-col.col-md-10, .wrapper-col.col-lg-10, .wrapper-col.col-xs-11, .wrapper-col.col-sm-11, .wrapper-col.col-md-11, .wrapper-col.col-lg-11, .wrapper-col.col-xs-12, .wrapper-col.col-sm-12, .wrapper-col.col-md-12, .wrapper-col.col-lg-12{
position: relative;min-height: 1px;padding-right: 0px;padding-left: 0px;}

/*article*/
#main-col.col-xs-1, #main-col.col-sm-1, #main-col.col-md-1, #main-col.col-lg-1, #main-col.col-xs-2, #main-col.col-sm-2, #main-col.col-md-2, #main-col.col-lg-2, #main-col.col-xs-3, #main-col.col-sm-3, #main-col.col-md-3, #main-col.col-lg-3, #main-col.col-xs-4, #main-col.col-sm-4, #main-col.col-md-4, #main-col.col-lg-4, #main-col.col-xs-5, #main-col.col-sm-5, #main-col.col-md-5, #main-col.col-lg-5, #main-col.col-xs-6, #main-col.col-sm-6, #main-col.col-md-6, #main-col.col-lg-6, #main-col.col-xs-7, #main-col.col-sm-7, #main-col.col-md-7, #main-col.col-lg-7, #main-col.col-xs-8, #main-col.col-sm-8, #main-col.col-md-8, #main-col.col-lg-8, #main-col.col-xs-9, #main-col.col-sm-9, #main-col.col-md-9, #main-col.col-lg-9, #main-col.col-xs-10, #main-col.col-sm-10, #main-col.col-md-10, #main-col.col-lg-10, #main-col.col-xs-11, #main-col.col-sm-11, #main-col.col-md-11, #main-col.col-lg-11, #main-col.col-xs-12, #main-col.col-sm-12, #main-col.col-md-12, #main-col.col-lg-12, #second-col.col-xs-1, #second-col.col-sm-1, #second-col.col-md-1, #second-col.col-lg-1, #second-col.col-xs-2, #second-col.col-sm-2, #second-col.col-md-2, #second-col.col-lg-2, #second-col.col-xs-3, #second-col.col-sm-3, #second-col.col-md-3, #second-col.col-lg-3, #second-col.col-xs-4, #second-col.col-sm-4, #second-col.col-md-4, #second-col.col-lg-4, #second-col.col-xs-5, #second-col.col-sm-5, #second-col.col-md-5, #second-col.col-lg-5, #second-col.col-xs-6, #second-col.col-sm-6, #second-col.col-md-6, #second-col.col-lg-6, #second-col.col-xs-7, #second-col.col-sm-7, #second-col.col-md-7, #second-col.col-lg-7, #second-col.col-xs-8, #second-col.col-sm-8, #second-col.col-md-8, #second-col.col-lg-8, #second-col.col-xs-9, #second-col.col-sm-9, #second-col.col-md-9, #second-col.col-lg-9, #second-col.col-xs-10, #second-col.col-sm-10, #second-col.col-md-10, #second-col.col-lg-10, #second-col.col-xs-11, #second-col.col-sm-11, #second-col.col-md-11, #second-col.col-lg-11, #second-col.col-xs-12, #second-col.col-sm-12, #second-col.col-md-12, #second-col.col-lg-12 {
position: relative;min-height: 1px;padding-right: 0px;padding-left: 0px;}
@media only screen and (max-width: 480px) {
#Wrapper.container{ padding:0;}
}

/*for google 廣告設置的大小 334*280 */
@media (min-width: 992px){
#aside.col-md-4 {width: 35.4%;}
#main-col.col-md-8 {width: 64.6%;}
}
@media (min-width: 1200px){
#main-col.col-lg-9{width: 71.4%;}
#aside.col-lg-3 {width: 28.6%;}
.visible-lg .banner_wrapper_bottom.col-lg-8 {width: 65%;}
.visible-lg .banner_wrapper_bottom.col-lg-4 {width: 35%;}
}


/* Column
----------------------------------------------------------------------------------------------- */
#Main-Content section.col{
	margin-top:0;
}

.col8,.col7,
.col6,.col5,
.col4,.col4_2,
.col4_i01,.col3,.col2{
	display:block;
	width: 100.8%;
	margin:0 -0.8% 0 0;
	letter-spacing: -0.4em;
	overflow: hidden;
}
.col8 > .col, .col8 > li,
.col7 > .col, .col7 > li,
.col6 > .col, .col6 > li,
.col5 > .col, .col5 > li,
.col4 > .col, .col4 > li,
.col4_2 > .col, .col4_2 > li,
.col4_i01 > .col, .col4_i01 > li,
.col3 > .col, .col3 > li,
.col2 > .col, .col2 > li{
	letter-spacing: normal;
	display: inline-block;
	vertical-align:top;
	/*margin:0 3.6% 20px 0 !important;*/
	/*2015-5-21更新*/
	margin:0 0.8% 7px 0;
}
/*2015-5-21更新*/
.col8 > li:first-child,
.col7 > li:first-child,
.col6 > li:first-child,
.col5 > li:first-child,
.col4 > li:first-child,
.col4_2 > li:first-child,
.col4_i01 > li:first-child,
.col3 > li:first-child,
.col2 > li:first-child{
	margin-left: 0 ;
}

/* Column 8 */
.col8{
	width:102%;
	margin-right:-2%;
}
.col8 > .col, .col8 > li{
	margin-right:2%;
}
.col8 > .col, .col8 > li{
	width:10.5%;
}
.col8 > .col_2{
	width:23%;
}
.col8 > .col_3{
	width:35.5%;
}
.col8 > .col_4{
	width:48%;
}
.col8 > .col_5{
	width:60.5%;
}
.col8 > .col_6{
	width:73%;
}
.col8 > .col_7{
	width:85.5%;
}
.col8 > .col_8{
	width:98%;
}
/* Column 7 */
.col7{
	width:102%;
	margin-right:-2%;
}
.col7 > .col, .col7 > li{
	margin-right:2%;
}
.col7 > .col, .col7 > li{
	width:12.285%;
}
.col7 > .col_2{
	width:26.57%;
}
.col7 > .col_3{
	width:40.855%;
}
.col7 > .col_4{
	width:55.14%;
}
.col7 > .col_5{
	width:69.425%;
}
.col7 > .col_6{
	width:83.71%;
}
.col7 > .col_7{
	width:98%;
}
/* Column 6 */
.col6{
	width:103%;
	margin-right:-3%;
}
.col6 > .col, .col6 > li{
	margin-right:3%;
}
.col6 > .col, .col6 > li{
	width:13.65%;
}
.col6 > .col_2{
	width:30.3%;
}
.col6 > .col_3{
	width:46.95%;
}
.col6 > .col_4{
	width:63.6%;
}
.col6 > .col_5{
	width:80.25%;
}
.col6 > .col_6{
	width:96.9%;
}
/* Column 5 */
.col5 > .col, .col5 > li{
	width:16.4%;
}
.col5 > .col_2{
	width:36.4%;
}
.col5 > .col_3{
	width:56.4%;
}
.col5 > .col_4{
	width:76.4%;
}
.col5 > .col_5{
	width:96.4%;
}
/* Column 4 */
.col4 > .col, .col4 > li,
.col4_2 > .col, .col4_2 > li{
	/*width:21.4%;*/
	/*2015-5-21更新*/
	 width: 24.2%;
}
.col4 > .col_2,
.col4_2 > .col_2{
	width:46.4%;
}
.col4 > .col_3,
.col4_2 > .col_3{
	width:71.4%;
}
.col4 > .col_4,
.col4_2 > .col_4{
	width:96.4%;
}
/* Column 4-2 > Column 2 */
.col4_2 > .col_2{
	letter-spacing:normal;
	display:inline-block;
}
.col4_2 > .col_2 > .col2{
	margin:0;
	width:100%;
}
.col4_2 > .col_2 > .col2 > .col,
.col4_2 > .col_2 > .col2 > li{
	margin:0 0 0 7.6%;
	padding:0;
	width:46.1%;
}
.col4_2 > .col_2 > .col2 > .col:first-child,
.col4_2 > .col_2 > .col2 > li:first-child{
	margin-left:0;
}

/* Column 4 - Irregular 01 */
.col4_i01 > .col, .col4_i01 > li{
	width:12.3%;
}
.col4_i01 > .col_01{
	width:36.4%;
	margin-right:6.14%;
}
.col4_i01 > .col_02{
	width:21.4%;
	margin-right:4.26%;
}
/* Column 3 */
.col3 > .col, .col3 > li{
	width:32.5%;
}
.col3 > .col_2{
	width:63%;
}
.col3 > .col_3{
	width:96.4%;
}
/* Column 2 */
.col2 > .col, .col2 > li{
	width:49.2%;
}
.col2 > .col_2{
	width:96.4%;
}
@media only screen and (max-width:1516px){
	/* Column 2 */
.col2 > .col, .col2 > li{
	width:49.2%;
}
}

@media only screen and (max-width:1179px){

	
	
	.col8,
	.col7,
	.col6{
		width:103.6%;
		margin:0 -3.6% 0 0;
	}
	.col8 > .col, .col8 > li,
	.col7 > .col, .col7 > li,
	.col6 > .col, .col6 > li{
		margin-right:3.6%;
	}
	.col8 > .col, .col8 > li,
	.col7 > .col, .col7 > li,
	.col6 > .col, .col6 > li,
	.col5 > .col, .col5 > li{
		width:21.4%;
	}
	.col8 > .col_2,
	.col7 > .col_2,
	.col6 > .col_2,
	.col5 > .col_2{
		width:46.4%;
	}
	.col8 > .col_3,
	.col7 > .col_3,
	.col6 > .col_3,
	.col5 > .col_3{
		width:71.4%;
	}
	.col8 > .col_4,
	.col8 > .col_5,
	.col8 > .col_6,
	.col8 > .col_7,
	.col8 > .col_8,
	.col7 > .col_4,
	.col7 > .col_5,
	.col7 > .col_6,
	.col7 > .col_7,
	.col6 > .col_4,
	.col6 > .col_5,
	.col6 > .col_6,
	.col5 > .col_4,
	.col5 > .col_5{
		width:96.4%;
	}
}
@media only screen and (max-width:1119px){
	.col8 > .col, .col8 > li,
	.col7 > .col, .col7 > li,
	.col6 > .col, .col6 > li,
	.col5 > .col, .col5 > li,
	.col4 > .col, .col4 > li{
		/*width:29.7%;*/
		/*2015-5-21更新*/
		  width: 32.53%;
	}
	.col8 > .col_2,
	.col7 > .col_2,
	.col6 > .col_2,
	.col5 > .col_2,
	.col4 > .col_2{
		width:63%;
	}
	.col8 > .col_3,
	.col8 > .col_4,
	.col8 > .col_5,
	.col8 > .col_6,
	.col8 > .col_7,
	.col8 > .col_8,
	.col7 > .col_3,
	.col7 > .col_4,
	.col7 > .col_5,
	.col7 > .col_6,
	.col7 > .col_7,
	.col6 > .col_3,
	.col6 > .col_4,
	.col6 > .col_5,
	.col6 > .col_6,
	.col5 > .col_3,
	.col5 > .col_4,
	.col5 > .col_5,
	.col4 > .col_3,
	.col4 > .col_4{
		width:96.4%;
	}
}
@media only screen and (max-width:979px){
	.col8 > .col, .col8 > li,
	.col7 > .col, .col7 > li,
	.col6 > .col, .col6 > li,
	.col5 > .col, .col5 > li,
	.col4 > .col, .col4 > li,
	.col4_2 > .col, .col4_2 > li,
	.col3 > .col, .col3 > li{
		/*width:46.4%;*/
		/*2015-5-21更新*/
		width: 49.2%;
	}
	.col4_2 > .col_2 > .col2{
		width:100%;
	}
	.col4_2 > .col_2 > .col2 > .col, .col4_2 > .col_2 > .col2 > li{
		width:48.15%;
		margin-left:3.7%;
	}
	.col4_2 > .col_2 > .col2 > .col:first-child, .col4_2 > .col_2 > .col2 > li:first-child{
		margin-left:0;
	}
	.col4_i01 > .col, .col4_i01 > li{
		width:21.34%;
	}
	.col4_i01 > .col_02{
		width:37.34%;
		margin-right:8.19%;
	}
	.col4_i01 > .col_03{
		margin-right:8.19%;
	}
	.col8 > .col_2,
	.col8 > .col_3,
	.col8 > .col_4,
	.col8 > .col_5,
	.col8 > .col_6,
	.col8 > .col_7,
	.col8 > .col_8,
	.col7 > .col_2,
	.col7 > .col_3,
	.col7 > .col_4,
	.col7 > .col_5,
	.col7 > .col_6,
	.col7 > .col_7,
	.col6 > .col_2,
	.col6 > .col_3,
	.col6 > .col_4,
	.col6 > .col_5,
	.col6 > .col_6,
	.col5 > .col_2,
	.col5 > .col_3,
	.col5 > .col_4,
	.col5 > .col_5,
	.col4 > .col_2,
	.col4_2 > .col_2,
	.col4 > .col_3,
	.col4_2 > .col_3,
	.col4 > .col_4,
	.col4_2 > .col_4,
	.col4_i01 > .col_01,
	.col3 > .col_2,
	.col3 > .col_3{
		width:96.4%;
	}
}


@media only screen and (max-width:845px){
	/* Column 2 */
.col2 > .col, .col2 > li{
	width:49.2%;
}
}

@media only screen and (max-width:761px){
.col8,.col7,.col6,.col5,.col4,.col4_2,.col4_i01,.col3,.col2{
	width: 100%;
	margin:0 0 0 0;
}
	
	
	.col4_i01 > .col, .col4_i01 > li{
		width:46.4%;
	}
	.col4_i01 > .col_03,
	.col4_i01 > .col_04{
		margin-right:3.6%;
	}
	


}

@media only screen and (max-width:680px){
	/*2015-5-21更新*/
	.col8 > .col, .col8 > li,
	.col7 > .col, .col7 > li,
	.col6 > .col, .col6 > li,
	.col5 > .col, .col5 > li,
	.col4 > .col, .col4 > li,
	.col4_i01 > .col_01,
	.col4_i01 > .col_02,
	.col3 > .col, .col3 > li,
	.col2 > .col, .col2 > li{
		width:95%;
		margin-left: 0;
		margin: 0 2.5%;
		margin-bottom: 15px;
	}
/*2015-5-21更新*/
.col8 > li:first-child,
.col7 > li:first-child,
.col6 > li:first-child,
.col5 > li:first-child,
.col4 > li:first-child,
.col4_2 > li:first-child,
.col4_i01 > li:first-child,
.col3 > li:first-child,
.col2 > li:first-child{
	margin-left: 2.5% ;
}
}

/* Column - Table cell */
.colCell{
	display:table;
}
.colCell > .colRow{
	display:table-row;
}
.colCell > .col,
.colCell > .colRow > .col,
.colCell > li,
.colCell > .colRow > li{
	vertical-align:top;
	display:table-cell;
}