@charset "utf-8";
/* CSS Document */
#Wrapper.container, #Wrapper.container.home{ padding-left:0; padding-right:0;}

/*slider*/
#Top{ padding:0; margin:0; position:relative; clear: both;}
#Slider{ position: relative; margin-bottom: 15px;}
/*owl-slider setting*/
.owl-theme .owl-controls { margin-top: 0 !important;}
#slider-demo .item img{display: block; width: 100%;height: auto;}
.play, .stop{display:none}
/*slider按鈕*/
#Slider .customNavigation a{ text-decoration:none !important;}
#Slider .btn2{padding: 0px; background:none;}
#Slider .btn2 span{ position:relative; width: 50px; height:50px; display:table-cell; text-align: center; vertical-align:middle;}
#Slider .prev, #Slider .next{display:block;height:50px; width:50px; top: 50%; margin-top: -25px; position: absolute; z-index:99}
#Slider .next{ right:0;}
#Slider .prev{ left:0;} 
#Slider .btn2 i{display:none;}
#Slider .next{background:url(../images/common/ui.svg) -102px -52px no-repeat;right:0}
#Slider .next:hover{background:url(../images/common/ui.svg) -153px -52px no-repeat}
#Slider .prev{background:url(../images/common/ui.svg) -51px -52px no-repeat;left:0}
#Slider .prev:hover{background:url(../images/common/ui.svg) 0 -52px no-repeat}
#Slider .prev, #Slider .prev:hover, #Slider .next, #Slider .next:hover{
-webkit-transition-duration:200ms;-webkit-transition-property:background-position;
-webkit-transition-timing-function:ease;-moz-transition-duration:200ms;
-moz-transition-property:background-position;-moz-transition-timing-function:ease}

/*slider文字設定*/
.slide-overlay{position:absolute;/*top:324px;*/ top: 50%; left:60px; right: 60px; margin-top: -24px;}
.slide-overlay a{color:#fff; text-decoration:none; background: rgba(0,0,0,0.5); text-transform:uppercase; padding:3px 5px; display: block; float:left}
.slide-overlay a.slide-cat{background:#FF5151;color:#FFF;font-size:15px;line-height:16px;padding:4px 5px}
.slide-overlay a.slide-tag{background:#000;color:#FFF;font-size:15px;line-height:16px;padding:4px 5px}
.slide-overlay h2{ font-family: "Microsoft JhengHei",微軟正黑體,arial,sans-serif; font-size: 23px; font-weight: normal; line-height: 150%; margin:0;}
@media screen and (max-width:600px){
#Slider .btn2 span{ position:relative; width: 33px; height:33px; display:table-cell; text-align: center; vertical-align:middle;}
#Slider .prev, #Slider .next{display:block;height:33px; width:33px; top: 50%; margin-top: -16.5px; position: absolute; z-index:99; /*隱藏*/ display:none;}	
#Slider .next{background:url(../images/common/ui.svg) -617px -52px no-repeat;right:0}
#Slider .next:hover{background:url(../images/common/ui.svg) -651px -52px no-repeat}
#Slider .prev{background:url(../images/common/ui.svg) -585px -52px no-repeat;left:0}
#Slider .prev:hover{background:url(../images/common/ui.svg) -551px -52px no-repeat}
/*slider文字設定*/
.slide-overlay{position:absolute; bottom:10px; top:inherit; left:15px; right: 15px;}
.slide-overlay h2{font-size:15px;line-height:23px; }
.slide-overlay a.slide-cat, .slide-overlay a.slide-tag{font-size:13px}
#full-wrap,.seo-home{padding:0 0 45px}#full-wrap.home{padding:0}
#slideshow{margin:0}
.slideshow-wrap{height:200px}
.slide-overlay{/*top:138px;*/left:10px}
}
@media only screen and (max-width: 768px) {
	#Slider{ display: none;}
}


/*Top-aside*/
#Top-aside{ font-size: 15px; min-height: 509px; max-height:509px; overflow:hidden;}


/*目錄標籤設定
--------------------------------*/
/*大標-Hot列表*/
.category small.b-tag {
font-size: 13px;
padding: 3px 4px;
margin-right: 5px;
background: #000000;
color: #fff;
line-height: 18px;
margin-bottom: 5px;
display: inline-block;
word-break: break-all;
}
.category small.b-tag a {text-decoration: none;color: #fff !important;}
.category small.b-tag:hover{background: #F33; /*background: #4E9FAD;*/}
.category small.b-tag a{ display: inline-block;}

/*區塊排行榜*/
#Top-aside .border-inner {
  padding: 10px;
  background-color: #3B3B3B;;
  margin-bottom: 15px;
  position: relative;
  border-radius: 0px;
  margin: 0px 0 4px 4px;
}
#Top-aside ul li a{ color: #fff;}
#Top-aside ul li a:hover{ color: #9FC7ED;}
#Top-aside .ranking-part{min-height: 509px; max-height:509px;}
#Top-aside .ranking-part h2{ font-family: Arial, Helvetica, sans-serif, "微軟正黑體";   margin-top: 0;   font-weight: 700;}
#Top-aside .ranking-part h2{ border-radius: 5px; background:#b08873; color:#fff; font-size:16px; padding:10px;  margin: 0 0 10px;}
#Top-aside .ranking-part h2 i{font-size: 25px; color:#FFE4CA}
#Top-aside .ranking-part h2 a.more:before{ content:"More"; color:#fff;}
#Top-aside .ranking-part ul.ranking-part-lists{ list-style: none; margin:0; padding:0;}
#Top-aside .ranking-part ul.ranking-part-lists li{padding: 10px 6px 5px 6px; border-bottom: 1px solid #666;}
#Top-aside .ranking-part ul.ranking-part-lists li:first-child{ padding-top: 0px;}
#Top-aside .ranking-part ul.ranking-part-lists li:last-child{ border: none; padding-bottom:0px;}
#Top-aside .ranking-part ul.ranking-part-lists li .photo {width: 100%; overflow: hidden; display: block; margin-bottom: 5px;}
#Top-aside .ranking-part ul.ranking-part-lists .title{max-height:48px; margin-bottom: 10px; overflow: hidden;}
@media only screen and (max-width: 992px){
#Top-aside .ranking-part ul.ranking-part-lists li{padding: 5px 5px 5px 5px; margin-bottom: 5px;}
#Top-aside .ranking-part ul.ranking-part-lists li:first-child{ padding-top: 5px;}
#Top-aside .ranking-part ul.ranking-part-lists li:last-child{padding-bottom: 5px;}
#Top-aside .ranking-part ul.ranking-part-lists li.hide-for-mobile{ display: none;}
}
@media only screen and (max-width: 600px){
#Top-aside .ranking-part ul.ranking-part-lists li:nth-child(4),
#Top-aside .ranking-part ul.ranking-part-lists li:nth-child(5),
#Top-aside .ranking-part ul.ranking-part-lists li:nth-child(6){display:none;}
}
@media only screen and (max-width: 480px){
/*手機版 2015-05-13*/
#Top-aside .ranking-part ul.ranking-part-lists li .photo {width: 45%; float:left; clear: both; overflow: hidden; display: block; margin-bottom: 5px; margin-right: 5px}
}
#Top-aside .ranking-part ul.ranking-part-lists li i {margin: 0 8px 0 0; font-size: 16px; font-weight: bold; color: #B2595A; font-style: normal;}
#Top-aside .ranking-part h2{background:#FF5151;}
#Top-aside .ranking-part ul p.more a {background: #79B0C7;}
/*different size img setting*/
#Top-aside .ranking-part ul.ranking-part-lists li .wideContainer {position: relative;height: 140px;}
@media only screen and (max-width: 992px){
#Top-aside .ranking-part ul.ranking-part-lists li .wideContainer {height: auto !important;}
}



/*文章列表區塊-----------------------------------------------------------*/

/*#Article-Content{ clear: both; zoom: 1; position: relative;}*/
.sec{margin:0 0 59px;overflow:hidden}

/*文章列表FOR 首頁&分類頁*/
#Article-list{width: 103%;margin-left: -3%;}
#Article-list ul{ margin:0; padding:0;}
#Article-list > ul { padding:0;}
#Article-list > ul > li{
  -webkit-box-shadow: 0 0 5px 0 #2D2D2D;
  -moz-box-shadow: 0 0 5px 0 #2D2D2D;
  box-shadow: 0 0 5px 0 #2D2D2D;
  overflow: hidden;}
/*col2*/
#Article-list > ul.col2 > li{ margin:0 0 20px 0;  margin-left: 2.912621359223301%;}
#Article-list > ul.col2 > li{ width:46.5%}
#Article-list > ul.col2 > li:nth-child(1){margin-top: 8px;}
#Article-list > ul.col2 > li:nth-child(2){margin-top: 8px;}	
@media only screen and (max-width: 761px){
#Article-list{width: 100%; margin-left: 0%;}	
#Article-list > ul.col2 > li{  width: 95%; margin: 8px 2.5%;}
}
@media only screen and (max-width: 480px){
#Article-list > ul.col2 > li:nth-child(1){margin-top: 15px;}
#Article-list > ul > li{
  -webkit-box-shadow: 0 0 5px 0 #ccc;
  -moz-box-shadow: 0 0 5px 0 #ccc;
  box-shadow: 0 0 5px 0 #ccc;}
}

/*col3*/
#Article-list > ul.col3 > li{
	margin-left: 2.84%;
 /* margin-left: 2.912621359223301%;*/
  margin-bottom: 20px;
  width: 29.688%;
  cursor: pointer;
  position: relative;
}
#Article-list > ul.col3 > li:nth-child(1){margin-top: 8px;}
#Article-list > ul.col3 > li:nth-child(2){margin-top: 8px;}
#Article-list > ul.col3 > li:nth-child(3){margin-top: 8px;}
@media only screen and (max-width: 761px){
#Article-list > ul.col3 > li{   width: 44.5%; margin-left: 2.912621359223301%;}	
}
@media only screen and (max-width: 480px){
#Article-list > ul.col3 > li{ width: 95%; margin: 8px 2.5%;}
#Article-list > ul.col3 > li:nth-child(1){margin-top: 15px;}	
}

#Article-list > ul > li{
	color:#3C3C3C;
	/*height: 228px;*/
	list-style: none;
	background:#fff;
	position: relative;
	overflow: hidden;
	clear: none;
	margin-top: 4px;
	/*padding: 8px 8px 8px;*/
	border-radius: 5px;
	}


/*圖片設定*/
#Article-list .wp-post-image{ max-width: 100%;}
#Article-list > ul > li img{border-bottom-left-radius: 0;border-bottom-right-radius: 0;border-top-left-radius: 5px;border-top-right-radius: 5px;}
/*標題*/
#Article-list .box-co {position: relative; left: 0; right: auto;  bottom: 0;  
margin-top: -12px; width: 100%; background: url(../images/common/ui.svg) -811px -8px no-repeat; 
/*padding: 16px 6px 8px; */
padding: 16px 0px 0px; 
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;}
#Article-list h4.entry-title { position: static; margin:0; font-size: 20px; line-height: 1.4;
font-family: "Microsoft JhengHei",微軟正黑體,arial,sans-serif; font-weight: normal; background: none; padding:5px 10px 8px;}
#Article-list h4.entry-title a { color: #472D19;}
#Article-list h4.entry-title a:hover { color: #59504B;}
/*移過圖片放大*/

#Article-list > ul > li img{display:block;width:100%;
-webkit-transition:-webkit-transform 0.25s;-moz-transition:-moz-transform 0.25s;
-o-transition:-o-transform 0.25s;transition:transform 0.25s;}
#Article-list > ul > li img:hover{-webkit-transform:scale(1.05,1.05) rotateZ(-0deg);-moz-transform:scale(1.05,1.05) rotateZ(-0deg);-ms-transform:scale(1.05,1.05) rotateZ(-0deg);-o-transform:scale(1.05,1.05) rotateZ(-0deg);transform:scale(1.05,1.05) rotateZ(-0deg);}

/*date---------*/
#Article-list .spec {
margin: 5px 0 0 0;
padding: 0 0 0 15px;
border-top: #e9e9e9 1px solid;
line-height: 19px;
font-weight: 700;
zoom: 1;}

#Article-list .spec .update {
float: left;
margin: 0 0 -1px 0;
padding: 9px 0 10px 0;
border-top-width: 1px;
border-top-style: solid;
display: inline-block;
vertical-align: middle;
zoom: 1;
font-family: 'Lato', sans-serif;
-webkit-font-smoothing: antialiased;
}
#Article-list .spec .update:before{font: normal normal normal 14px/1 FontAwesome; content: "\f073"; margin: 0 3px 0 0px;}
#Article-list .spec .update .day {font-size: 100%;}
#Article-list .spec .update .month { margin: 0 3px 0 2px; font-size: 100%;}
#Article-list .spec .update .year { font-size: 100%; margin: 0 3px 0 2px;}
#Article-list .spec .update .year:after, #Article-list .spec .update .month:after{ content:"-";  margin: 0 0px 0 3px;}
#Article-list .update {border-color: #999; color: #999;}
/*comment*/
#Article-list .spec .comment-total {
  float: right;
  display:inline-block;
  background: #c74344;
  /*background: #000;*/
  color: #fff;
  line-height: 100%;
  font-weight: 700;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
#Article-list .spec .comment-total {
  min-width: 60px;
  margin: 0 0 -1px 0;
  padding: 13px 5px 13px 5px;
  font-size: 108%;}
 #Article-list .spec .comment-total:after {font: normal normal normal 14px/1 FontAwesome; content:"\f075";} 
#Article-list .spec .comment-total span{  padding: 0 8px 0 4px; font-family: 'Lato', sans-serif;}


@media only screen and (min-width:980px) {
#Article-list .col4 > li{width: 100% !important;}
}
@media only screen and (max-width: 480px) {
#Article-list > ul > li{ /*background:#666*/}
#Article-list > ul > li:nth-child(1){margin-top: 8px;}
#Article-list > ul > li:nth-child(2){margin-top: 4px;}	
}

/*小標籤-文章列表*/
#Article-list .tags_inner{ width: 100%; display:block; }
#Article-list .tags_inner ul span,
#Article-list .tags_inner ul{max-height:26px;overflow: hidden;}
#Article-list .tags_inner{
	line-height:16px;
	vertical-align:middle;
	margin: 0px 10px 0;
}
@media only screen and (max-width: 325px) {
.related #Article-list .tags_inner {margin: 40px 0 0;}
}
#Article-list .tags_inner ul span{
	margin-bottom:5px;
	color:#745d50;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif, "新宋体";
	
}
#Article-list .tags_inner ul span i:before{color: #ccc;line-height: 20px; content:"\f02b"; font: normal normal normal 14px/1 FontAwesome;}
#Article-list .tags_inner ul li{ font-size: 12px; margin-bottom:5px !important; border: none !important; padding: inherit !important;}
#Article-list .tags_inner ul li.last{ padding:1px 5px !important; background:#E4E4E4; color:#5E5E5E;
border-radius: 3px; -webkit-border-radius: 3px;-moz-border-radius: 3px; border:#e2e2e2 1px solid !important;}
 #Article-list .tags_inner ul li a{
	margin-left:5px;
	padding:1px 5px;
	border:#e2e2e2 1px solid;
	border-radius: 3px;		/* CSS3草案 */  
	-webkit-border-radius: 3px;	/* Safari,Google Chrome用 */  
	-moz-border-radius: 3px;   /* Firefox用 */  
	display:block;
	position:relative;
	/*color: #a9a9a9;*/
	color: #BABABA;
}
#Article-list .tags_inner ul li a:hover{
	background:#FF6151;
	color:#fff;
	text-decoration:none;
}


/*aside-右側-------------------------------------------------------------*/
/*aside-category-article 相關文章*/
.aside-index-category-article .wp-post-image{ max-width: 100%;}
.aside-index-category-article > ul { padding:0;}
.aside-index-category-article > ul > li{
	color:#3C3C3C;
	list-style: none;
	position: relative;
	overflow: hidden;
	clear: none;}

.aside-index-category-article > ul > li img, .aside-index-category-article > ul > li a.thumb, 
.aside-index-category-article > ul > li a.thumb, .aside-index-category-article > ul > li a.thumb img
{ display: block; position: relative;}
/*標題*/
.aside-index-category-article h4.entry-title{ position: static;}
@media only screen and (min-width:980px) {
#aside .aside-index-category-article .col4 > li{width: 98.5% !important;}
}
@media only screen and (max-width: 480px) {
.aside-index-category-article h4.entry-title{ background:#DCDCDC;}
.aside-index-category-article h4.entry-title a{ color:#472D19;}	
}

/*aside-右側結束----------------------------------------------------------*/


