<script src="js/topic.js"></script>


<div class="widget">
	
	<table cellpadding="0" cellspacing="0" width="100%" class="tDefault tLight">
		<form id="list_orderby" method="post">
		<input id="order_by" type="hidden" name="order_by" value="">
		<thead>
			<tr >
				<td title="編號" class="order_control" data-orderby="article_id">編號<i class="icon-chevron-{by-article_id}"></i></td>
				<td title="圖片" class="order_control" data-orderby="	title">題目<i class="icon-chevron-{by-title}"></i></td>	
				<td title="題目" class="order_control" data-orderby="	title">題目<i class="icon-chevron-{by-title}"></i></td>
				<td title="新增資料" >新增資料</td>
			</tr>			
		</thead>
		</form>
		<tbody>
			<?php if(isset($content)):?>
			<?php foreach ($content AS $list):?>
			<tr class="user_row" style="font-size: 16px;line-height: 30px;">
				<td width="60px"><?php echo $list['pk_horoscope'];?></td>
				<td><img src="http://horoscope.ifunso.com/uploads/result/<?php echo $list['img_file'];?>" width="60px;"/></td>
				<td><?php echo $list['title_horoscope'];?></td>
				<td onclick="article_horo('<?php echo $list['pk_horoscope'];?>');">新增</td>
				<td onclick="remove_horo('<?php echo $list['pk_horoscope'];?>');">刪除</td>
			</tr>			
			<?php endforeach;?>
			<?php endif;?>
		</tbody>
	</table>
	
</div>
<?php if(isset($content)):?>
<?php echo $page ;?>
<?php endif;?>
<script src="js/article.js"></script>
<script src="js/span_editor.js"></script>
<style>

thead TD{
white-space: nowrap;
}
.hide, .topicview_{
	display: none;
}
.topicview_hide{
	display: initial;
}
.tLight tbody td{
	padding: 0px 16px;
}
.external_link{
	background: none;
}
	.more_page, .page_num{
	float: left;
	padding: 5px;
	display: inline-flex;
	line-height: 0px;
	cursor: pointer;
	margin: 0 5px;
}
.page_num:HOVER,.page_num.selected{
	border-bottom: 1px solid #000;
}

</style>

<script>

remove_horo = function(index){
	console.info('1');
	$.ajax({
		url: 'horo/remove',
	  cache: false,
	  dataType: 'html',
	  async : false,
	  type: 'POST',
	  data: {
		horo:index
	  },
	  success: function(data){
		  	$.fancybox.hideLoading();
		  	if(data) console.info(data);
		  	else location.reload();
		  }
	});
}

article_horo = function(index){
	console.info('1');
	$.ajax({
		url: 'article/actions/add_article',
	  cache: false,
	  dataType: 'html',
	  async : false,
	  type: 'POST',
	  data: {
		horo:index
	  },
	  success: function(data){
		  	$.fancybox.hideLoading();
		  	$.fancybox.open(data,{	  
		  		wrapCSS : 'fancybox-background',
		  		autoCenter   : true,
			  	helpers : {
			        overlay : {
			        	closeClick: false
			        }
		        },
		        afterShow : function(){
		        	//$('.fancybox-inner').css('width', '620px');
		        },
		        beforeClose : function(){
		        	
		        	return(confirm("是否關閉 新增/編輯 資料視窗!?"));	        	
		        }
			  	});
		  }
	});
}

function order_by(this_td){

	$('#order_by').val( $(this_td).attr('data-orderby'));
	$('#list_orderby').submit();

}

$(".order_control").live( "click", function() {
	var order_name = $(this).attr('data-orderby');
	if(order_name) order_by(this);
	
	return false;
});	

</script>