<?php use Phalcon\Tag; ?>

<!DOCTYPE html>
<html >
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="/phaicon/js/app.js"></script>
<meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body ng-app="adonis">
  <select ng-controller="weekController as week">
  	<option ng-repeat="option in week.options">{{option.label}}</option>
  </select>
<index-Title></index-Title>
{{week}}
</body>
</html>