@charset "utf-8";
.page-wrapper.container-fluid{ padding:0;}
header{ position:relative; -webkit-text-size-adjust: none;}
.mobile-menu, #menu.mm-menu, .pc-menu{ display: none;}

@media only screen and (max-width: 5000px) and (min-width: 992px) {
/*nav*/
#topnav { height: 26px; margin: 20px 0 0; position:relative;}
#topnav-right {position: absolute;right: 0;}

#topnav-right a {
  display: block;
  width: 27px;
  margin: 0 0 0 5px;
}

#topnav a {
  display: block;
  height: 26px;
  float: left;
  background-image: url(../../images/common/ui.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: background-position;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 200ms;
  -moz-transition-property: background-position;
  -moz-transition-timing-function: ease;
}

/*右側*/
#topnav-right a.nav-rss {background-position: -306px 0;} #topnav-right a.nav-rss:hover{background-position: -306px -26px;}
#topnav-right a.nav-fb {background-position: -335px 0;} #topnav-right a.nav-fb:hover {background-position: -335px -26px;}
#topnav-right a.nav-twit {background-position: -370px 0;} #topnav-right a.nav-twit:hover {background-position: -370px -26px;}
/*左側*/
#topnav-left a.nav-about {background-position: 0 0; width: 63px; margin: 0 5px 0 0;} #topnav-left a.nav-about:hover {background-position: 0 -26px;}
#topnav-left a.nav-service { background-position: -72px 0; width: 63px; margin: 0 5px 0 0;} #topnav-left a.nav-service:hover { background-position: -72px -26px;}
#topnav-left a.nav-policy { background-position: -137px 0;width: 78px; margin: 0 5px 0 0;} #topnav-left a.nav-policy:hover { background-position: -137px -26px;}
#topnav-left a.nav-contact { background-position: -216px 0;width: 63px;} #topnav-left a.nav-contact:hover { background-position: -216px -26px;}
#topnav-left .nav-search { float: left;}
#topnav-left .nav-search .search { height: auto;background: 0 0;}
#topnav-left .nav-search .searchform input {
  height: 26px;
  margin: 0 0 0 4px;
  padding: 0 0 0 26px;
  width: 90px;
  font-size: 10px;
  text-transform: uppercase;
  color: #000;
  border: 0;
  text-indent: -60px;
  background-image: url(../../images/common/ui.svg);
  background-repeat: no-repeat;
  background-position: -400px 0;
  transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: background-position,width;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 200ms;
  -moz-transition-property: background-position,width;
  -moz-transition-timing-function: ease; 
}
#topnav-left .nav-search .searchform input:focus, #topnav-left .nav-search .searchform input:hover { background-position: -400px -26px;}
#topnav-left .nav-search .searchform input:focus {width: 150px; text-indent: 0; 
transition-duration: 200ms;
  -webkit-transition-duration: 200ms;
  -webkit-transition-property: background-position,width;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 200ms;
  -moz-transition-property: background-position,width;
  -moz-transition-timing-function: ease; }
#topnav-left .nav-search .searchform button {display: none;}

	
/*電腦目錄--------------------------------------------*/
.navbar-nav>li>.dropdown-menu {margin-top: -2px;}
.pc-menu{ display: block; margin: 10px 0 17px; }
.pc-menu .container{ padding:0;}
.pc-menu #siteMenu{ padding:10px 15px; background:#ffffff; position: relative;}
.pc-menu .navbar-header a.logo{  
  display: inline-block;
  width: 290px;
  height: 80px;
  background-image: url(../../images/common/ui.svg);
  background-repeat: no-repeat;
  background-position: 0 -256px;
  outline: 0;
  }
.pc-menu #menu{ margin: 20px 0 0; font-family: Arial, Helvetica, sans-serif, "微軟正黑體"; font-size: 16px; font-weight: 600;}
.pc-menu #menu .nav>li>a{ color:#232323; outline: none;}
.pc-menu #menu .nav>li>a:focus, .pc-menu #menu .nav>li>a:hover,  .pc-menu #menu .nav>li.active >a {text-decoration: none;background-color: transparent; color:#ff5151;}
/*fb-like*/
.pc-menu #siteMenu .fb-like{ position:absolute; right:20px; top:15px;}

}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
.pc-menu .navbar-header a.logo{  
  display: inline-block;
  width: 80px;
  height: 80px;
  background-image: url(../../images/common/ui.svg);
  background-repeat: no-repeat;
  background-position: 0 -256px;
  outline: 0;
  }}

@media only screen and (max-width: 991px) {
/*手機目錄-------------------------------------------*/
.page-wrapper{ margin-top: 50px;}

nav:not(.mm-menu){display: none;}
.mobile-menu, #menu.mm-menu{ display:block;}

.mobile-menu .navbar-header{
	float: none;
	text-align: center;
	background: #fff;
	font-size: 15px;
	font-weight: bold;
	color: #000;
	line-height: 50px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	width: 100%;
	height: 50px;
	padding: 0 25px;
	font-family: Arial, Helvetica, sans-serif, "微軟正黑體";
	letter-spacing: 0.1em;
}
/*固定*/
.mobile-menu .navbar-header.fixed{position: fixed;top: 0;left: 0; z-index: 200;}
/*menu-bar*/
.mobile-menu .navbar-header .menu-bar{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0)

	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: 40px;
	text-decoration: none;
	color:#000;
	outline: none;
}
.mobile-menu .navbar-header .menu-bar:before {content: "\f0c9";}
.mm-opening .mobile-menu .navbar-header .menu-bar:before,
.menu-opening .mobile-menu .navbar-header .menu-bar:before{color:#f65656;}

/*menu-opening-----------*/
html.menu-opening{overflow: hidden; position: relative;}
/*位置*/
html.menu-opening #menu{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
   display: block  !important;
  }
 /*滑動速度*/
#menu{
  -webkit-transition: -webkit-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  display: none !important;
} 

/*logo*/
.mobile-menu .navbar-header .logo{ 
  display: block;
  width: 50px;
  height: 45px;
  position: absolute;
  top: 5px;
  left: 10px;
  background-image: url(../../images/common/ui.svg);
  background-repeat: no-repeat;
  background-position: 0 -213px;}
/*menu文字大小 間距*/ 
.mm-navbar .mm-title, .mm-listview, .menu-listview{ font-family:Arial, Helvetica, sans-serif, "微軟正黑體" !important;}
.mm-navbar .mm-title{ font-size: 18px !important; font-weight: 600;}
.mm-listview > li > a,.mm-listview > li > span,
.menu-listview > li > a, .menu-listview > li > span { line-height: 24px !important;}

/*手機列表menu 2015-6-2新增 純css*/
.menu-block, .menu-block > .panel {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
}
.menu-block.menu-offcanvas {display: none;position: fixed; z-index: 201;}
.mobile-menu, #menu.menu-block {display: block;}
/*寬高*/
#menu { width: 80%; min-width: 140px;max-width: 440px;}
/*顏色*/
#menu { background: inherit; display: block;  overflow: hidden; padding: 0;}
#menu { background: #f3f3f3;color: rgba(0, 0, 0, 0.7);}

/*my-panle------------*/
#menu > .panel {
  background: inherit;
  -webkit-overflow-scrolling: touch;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 0 20px;
  /*padding-top: 40px;*/
}
/*滑動樣式*/
.panel {
  -webkit-transition: -webkit-transform 0.4s ease;
  -moz-transition: -moz-transform 0.4s ease;
  -ms-transition: -ms-transform 0.4s ease;
  -o-transition: -o-transform 0.4s ease;
  transition: transform 0.4s ease;
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
/* 文字出現
.panel.menu-opened {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}*/



/*列表*/
.menu-listview > li {position: relative;}
.menu-listview { font: inherit;font-size: 18px;}
.menu-listview, .menu-listview > li { list-style: none;display: block;padding: 0;margin: 0;}
#menu > .panel > .menu-listview {
  margin-left: -20px;
  margin-right: -20px;
}
#menu > .panel > .menu-listview.menu-first { margin-top: -20px;}
#menu > .panel > .menu-listview.menu-last { padding-bottom: 20px;}

.menu-listview > li > a, .menu-listview > li > span {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: inherit;
  line-height: 20px;
  display: block;
  padding: 10px 10px 10px 20px;
  margin: 0;
}
/*.menu-listview > li:not(.menu-divider):after { left: 20px;}*/
.menu-listview a, .menu-listview a:hover {text-decoration: none;}
.menu-listview li.active a{color:#ff5151;}
#menu .menu-listview > li{ border-bottom: 1px solid rgba(0, 0, 0, 0.1);}

}
