<link href="css/iframeEDT.css" rel="stylesheet" type="text/css">



<script src="js/libs/jquery.Jcrop.min.js"></script>
<script src="js/tool.js"></script>
<script src="js/span_editor.js"></script>
<link rel="stylesheet" href="css/jquery.Jcrop.min.css" type="text/css" />
<style>
.drag {
    line-height: 70px;
    cursor: pointer;
    border: 1px solid #fff;
    float: left;
    margin-left: 5px;
    text-align: center;
    font-size: 12px;
}

#dragbasic {
    width: 500px;
    height: 375px;
    border: 1px solid gray;
    background-color: #E0F0FF;
    float: left;
}
.default_options{
	float: left;
	width: 400px;
	margin-top: 38px;
	overflow-y: scroll;
	height: 240px;
	border: 1px dashed #b2b2b2;
}
.default_options UL{
	margin:0;
	width:100%;
	display: block;
	cursor: pointer;
}
.default_options UL:BEFORE{
	content: attr(data-title);
	display: block;
	color: #034A0E;	
	margin: 0 10px;
	font-size: 14px;
}
.default_options UL:HOVER{
	border-bottom: 1px solid #034A0E;
}
.default_options UL LI{
	margin-left: 10px;
}
.default_options UL:HOVER:AFTER,.default_options UL.checked:AFTER {
content: ' ';
padding: 10px 0px 0px 30px;
	background: url(images/check_green.png) no-repeat left;
}
#img_list IMG:not([data-check]){
	margin-bottom: 20px;
	border: 2px dotted #369;
	padding: 3px;
}
#img_list IMG{
	width: 120px;
	display:block;
}
#img_list IMG[data-check="check_ok"] {
	background: url(images/check_green.png) right bottom no-repeat;
	padding-right: 30px;
}

#img_selectbox {
	display: none;
	width: 550px;
	height: 420px;
	text-align: center;
	background-color: #94b0dc;
}

.fb_view_control {
	background-color: #336699;
	color: #fff;
	height: 20px;
}

.fb_view_control SPAN {
	margin-right: 10px;
	padding: 2px 5px;
}

.fb_view_control SPAN:HOVER {
	cursor: pointer;
	color: #3366cc;
	background-color: #fff;
}

.fb_view {
	width: 500px;
	height: 375px;
	margin: auto;
	border: 1px solid red;
}

.fb_link {
	width: 500px;
	height: 260px;
}

.fb_link_s {
	width: 375px;
	height: 375px;
}

.topic_photo {
	border: 1px solid;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	padding: 7px 5px 7px 7px;
	margin-right: 15px;
	margin-bottom:15px;
	float: left;
	margin-top: 25px;
	position: relative;
}
.topic_photo:before{
	content: attr(data-title);
	position: absolute;
	top: -20px;
}
.topic_group {
	width: 340px;
	float: left;
	margin: 10px;
}

.topic_group STRONG {
	color: #000;
	float: right;
	cursor: pointer;
	border-bottom: 1px solid #999;
}

.topic_group UL {
	margin: 0;
	display: none;
}

.topic_group.editable UL.options_select {
	position: absolute;
	display: inline-block;
	margin-top: 30px;
	background-color: #fff;
	border: 1px solid #D6D6D6;
	border-radius: 10px;
	padding: 5px 5px;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	z-index: 10;
}

.topic_group UL LI {
	float: left;
	margin-right: 10px;
	cursor: pointer;
}

.topic_group UL LI:AFTER {
	content: ' ';
	padding: 10px 0px 0px 30px;
}

.topic_group UL LI:HOVER {
	color: #585858;
}

.topic_group UL LI:HOVER:AFTER {
	background: url(images/check_green.png) no-repeat left;
}

.topic_group #topic_group_name UL {
	display: block;
	float: left;
}

.topic_group #topic_group_name UL LI.checked:AFTER {
	background: url(images/check_green.png) no-repeat left;
}

.audit_left.not_pass:BEFORE {
	content: ' ';
	padding: 10px 0px 10px 30px;
	background: url(images/not_pass.gif) no-repeat left;
	position: absolute;
	margin-left: -30px;
}

.audit_right.not_pass:AFTER {
	content: ' ';
	padding: 10px 0px 10px 30px;
	background: url(images/not_pass.gif) no-repeat left;
}
.topic_photo.not_pass:BEFORE {
	content: attr(data-title);
	padding: 0px 0px 00px 30px;
	background: url(images/not_pass.gif) no-repeat left;
}
.topic_photo.not_pass:AFTER{
	display: none;;
}
.data_title:BEFORE {
	content: attr(data-title);
	position: absolute;
	color: #000;
	margin-left: -40px;
	font-weight: bolder;
	display: none;
}

input[type="text"] {
	width: 100%;
	font-size: 18px;
	height: 24px;
	margin-bottom: 5px;
}

input[type="text"]:HOVER {
	background-color: rgba(33, 153, 233, 0.3);
}

input[type="text"].empty {
	border-color: rgba(241, 193, 154, 1);
}
IMG.errorsize{
	/*border-color: rgba(230, 128, 45, 1); */
	border:3px solid red; 
	 

}

.topic_photo.audit_right.dropping:AFTER {
	content: ' ';
	background-color: rgba(33, 33, 33, 0.3);
	width: 114px;
	position: absolute;
	height: 91px;
	border: 1px solid red;
	margin-top: -83px;
	margin-left: -9px;
}

.topic_photo.audit_left.dropping:AFTER {
	content: ' ';
	background-color: rgba(33, 33, 33, 0.3);
	width: 114px;
	position: absolute;
	height: 91px;
	border: 1px solid red;
	margin-top: -83px;
	margin-left: -9px;
}

.topic_option_list {
	counter-reset: option_div;
}



.dropimg-content.dropping:AFTER {
	content: ' ';
	background-color: rgba(33, 33, 33, 0.3);
	width: 100%;
	position: absolute;
	height: 180px;
	border: 1px solid red;
}

#img_control {
	background: url(images/arrow_right.png) no-repeat center;
	padding: 40px 100px;
	width: 1150px;
	/* height: 200px; */
	position: absolute;
	z-index: 1000;
	background-color: rgba(33, 33, 33, 0.3);
}
#img_control.cutstyle IMG#old_img,#img_control.cutstyle IMG#new_img{
	display: none;
}
.topic_photo #img_control {
	margin-left: -90px;
	left: 0;
}
.audit_right #img_control {	
	left: -483px;
}
#img_control #old_img {
	float: left;
	padding: 8px;
	background-color: #f6f6f6;
	border: 1px dashed #b2b2b2;
	-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#img_control #new_img {
	float: right;
	padding: 8px;
	background-color: #f6f6f6;
	border: 1px dashed #b2b2b2;
	-webkit-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#img_control DIV#control_btn {
	top: 0;
	right: 0;
	position: absolute;
	color: #fff;
	font-size: 24px;
	overflow: hidden;
	width: 50px;
	height: 100%;
}

SPAN.text_editable{
	padding-right: 20px;
}
SPAN.text_editable:HOVER,SPAN.text_editable:FOCUS{
	border-bottom: 1px solid rgb(102,153,204);
}

.ie-icon:BEFORE {
	width: 32px;
	height: 32px;
}

.ie-icon:HOVER:BEFORE {
	margin-left: -5px;
	padding: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
}


#upload_img::-webkit-file-upload-button, #upload_file::-webkit-file-upload-button {
  visibility: hidden;
}
#upload_img::before,#upload_file::before {
	content: ' ';
	display: inline-block;
	background: url("images/uploadfile.png") no-repeat left center;
	padding: 30px;
	cursor:pointer;
    position: absolute;
}
.fancybox-header {
background: url(images/content-bglarge-top.png) no-repeat top center;
width: 1151px;
}
.fancybox-content {
margin: auto;
width: 1151px;
background-image: url(images/content-bglarge-center.png);
}
.fancybox-content-bg-bottom {
background: url(images/content-bglarge-bottom.png) no-repeat bottom center;
width: 1151px;
}

.topic_insert{
	font-size: 28px;
	cursor: pointer;
	color:rgb(35, 35, 35);
}
.topic_insert:HOVER{	
	color:rgb(255, 113, 9);
}
</style>

<input type="hidden" name="auto_index" value="<?php echo $content['auto_index'];?>">
<div class="plugin_box" style="position: fixed; right: 40px;z-index: 100;">
	<div id="img_selectbox">
		<div class="fb_view_control">
			<span data-fb="fb_view">原始圖片</span> <span data-fb="fb_link">連結圖片(大)</span>
			<span data-fb="fb_link_s">連結圖片(小)</span> <span data-fb="close"
				style="float: right;">關閉</span>
		</div>
		<div style="margin: auto; height: 25px;">
			<span style="float: left;"><input id="upload_file" type="file" onchange="upload_img();"/></span>
		</div>
		<div class="fb_view"></div>
	</div>
</div>
<div id="add_text" style="display: none;">  
<div id="dragbasic" >    
	<div id="drag1" class="drag"><img id="GDtext" src="http://starlove99.com/code/text_pic.php"/></div>
</div>  
	<div style="float:left;">
		<div>font-color<input id="font" type="text" value="0,0,0"/></div>
		<div>bg-color<input id="bg" type="text" value="0,0,0,127"/></div>
		<div>words<input id="words" type="text" value="adonis"/></div>
		<span onclick="changeText()">change Text</span>
	</div>
</div>
<div class="fancybox-content" style="width: 1151px;" >
	<div class="fancybox-content-bg-bottom">
		<div class="fancybox-header">
			<ul>		
			<li class="<?php echo $content['active'];?>">
						
				<span class="icon-publish topic_insert" onclick="topic_insert('<?php echo $content['auto_index'];?>');" title="新增" alt="新增"></span>
				
			</ul>
			<input type="hidden" id="from_index" value="<?php echo $content['from_index'];?>" data-table="<?php echo $content['from_table'];?>"/>
			<br class="clear">

			<div class="fancybox-logo" style="color: #919191;">
				
				<div style="width: 120px;float: left;">
				<span data-title="題目圖片" class="topic_photo audit_left" > 
					<img data-name="article_imgurl" class="editable" alt=""src="<?php echo $content['article_imgurl'];?>" width="100px;">
				</span>
				
				</div>
				<div style="float: left; width: 350px; margin-right: 10px;">
					<h2>
						<span contenteditable="true" class="text_editable audit_right " data-name="article_title" data-title="文章標題"><?php echo $content['article_title'];?></span>
					</h2>
					<div class="topic_group">						
						<div id="topic_group_name">
							<ul>
							<?php if(isset($content['ArticleGroup'])):?>
							<?php foreach ($content['ArticleGroup'] AS $list):?>								
								<li class="<?php echo (isset($list['checked']))?$list['checked']:'';?>" data-index="<?php echo $list['auto_index'];?>" ><?php echo $list['name'];?></li>
							<?php endforeach;?>
							<?php endif;?>
							</ul>
						</div>
								
					</div>
					<textarea style="display: block; font-size: 16px;height: 160px;"class="text_editable audit_right "data-name="article_optiontitle" data-title="文章簡介" onchange="$(this).html(this.value);"><?php echo $content['article_optiontitle'];?></textarea>
					

				</div>
				
				<div class="default_options">
				<?php if(isset($content['ArticleDefoptionGroup'])):?>
				<?php foreach ($content['ArticleDefoptionGroup'] AS $list):?>			
					<ul data-title="<?php echo $list['defoptions_group_name'];?>" data-index="<?php echo $list['auto_index'];?>" class="<?php echo (isset($list['checked']))?$list['checked']:'';?>">
					<?php if(isset($list['options'])):?>
					<?php foreach ($list['options'] AS $option):?>	
					<li><?php echo $option['title'];?></li>
					<?php endforeach;?>
					<?php endif;?>
					</ul>
				<?php endforeach;?>
				<?php endif;?>
				</div>
				<br class="clear">
			</div>
		</div>

		<div class="fancybox-inside">
			<input id="upload_img" type="file" style="position: absolute;right: 30px;margin-top: -30px;width: 120px;" onchange="upload_article_img()"/>
			<span id="img_list" class="topic_photo" style="position: absolute;right: 10px;width: 120px;"></span>
			<div class="fancybox-inside-bg-top">
				<div class="fancybox-inside-bg-bottom">
					<div class="resume slide">						
						<div  class="page-content" style="margin: 20px;width: 950px;min-height: 600px;">		
							<span id="text_ckeditor" class="data_title" data-title="內容" data-type="info" data-name="article_text"><?php echo $content['article_text'];?></span>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<br class="clear">
</div>


<script>

function showCoords(c){
	cut_info = c;
	
}
function add_text(){
	$('#img_control').addClass('cutstyle');
	$('#add_text').appendTo("#img_control").show();
	$('#dragbasic').css('background','url('+$('#new_img').attr('src')+')')
}
function changeText(){
	$('#GDtext').attr('src','http://admin.starlove99.com/img/text/'+$('#words').val()+'/36');
	
}
function cut_jropimg(){
	if(typeof(cut_info) == 'object'){
		
		console.info(cut_info);


		var url='article/cut_img';
		var img = this;
		$.ajax({
			url: url,
		  cache: false,
			dataType: 'html',
		  type: 'POST',
		  data:{
			  img:$('#new_img').attr('src'),
			  cut_info:cut_info
		  },
		  success: function(data){
			 
			  $('#img_control').removeClass('cutstyle');
			  img:$('#new_img').attr('src',data);
		 	  $('DIV.jcrop-holder').remove();
		 	  $('#cut_img').remove();
			  delete cut_info;
		  }
		});
		

	
		
	}
	else if($('#cut_img').length <1 ){
		$('#img_control').addClass('cutstyle').prepend('<img id="cut_img" />');

		
		$('#cut_img').css('max-width','1000px').css('margin','auto').attr('src',$('#new_img').attr('src'));
		
		jcrop_api =  $('#cut_img').Jcrop({
	            onSelect: showCoords,
	            onChange: showCoords,
	            aspectRatio: 4 / 3,
	            minSize:[400,300]
	        });
	}
	
}
function refresh_img_list(editorText){
	
	var check_listarr = new Array();
	
	editorText = '<div>'+editorText+'</div>';
	$(editorText).find("IMG").each(function(){
		var src = $(this).attr("src");		
		console.info(src);
		check_listarr.push(src);
		if($('#img_list IMG[data-src="'+src+'"]').length < 1)
		$('<img src="'+src +'" data-src="'+src+'"  >').appendTo('#img_list').load(function(){
    		if($(this).attr('data-check') != 'check_ok' && $(this).attr('data-check') != 'checking') img_check(this);
		});			
	}); 

	$('#img_list IMG[data-check]').each(function(){
		var src = $(this).attr('data-src');

		var check_listimg = $.inArray( src, check_listarr );
		if(check_listimg<0) $(this).remove();

	})

}
function clear_img_list(){
	
	url = 'article/remove_check_photo'; 
	$("#img_list IMG").each(function(){
		var img = this;
		console.info($(img).attr('src'));
		
		$.ajax({
			url: url,
		  cache: false,
			dataType: 'html',
		  type: 'POST',
		  data:{
			  img:$(img).attr('src')
		  },
		  success: function(data){
			  $(img).remove();
		  }
		});
	});
	
}
function img_check(img){
	 console.info('check');		 
	var key = '<?php echo date('YmdHis')?>';
	var check_img = img;
	$(check_img).attr('data-check','checking');
	
	$(check_img).load(function(){		
		$(this).attr('data-check','check_ok');
		return false;
	});
	
	url = 'article/move_article_photo'; 
	$.ajax({
		url: url,
	  cache: false,
		dataType: 'html',
	  type: 'POST',
	  data:{
		  img:$(check_img).attr("src"),
		  index:key+$(check_img).index()
	  },
	  success: function(data){
		 
		  $(check_img).attr("src",data) ;
	  	
	  }
	});
}

$(function() {
	$("#dragbasic div[id^='drag1']").draggable({
		containment: "#dragbasic",
		stack: ".drag"
	});
	
	set_span_editor();
	refresh_img_list($('#text_ckeditor').html());
	
	var element = CKEDITOR.replace("text_ckeditor",{ width:'950px',height:'600px' });
	$("SPAN.text_editable").attr('contenteditable',true).each(function(){
		if(!$(this).html() || $(this).html() == '') $(this).html( $(this).attr('data-title')||'請輸入資料' );

		}).live("focus",function(){
			if( $(this).html() == ($(this).attr('data-title')||'請輸入資料') ) $(this).html('');			
		}).live("blur",function(){
			if(!$(this).html() || $(this).html() == '') $(this).html($(this).attr('data-title')||'請輸入資料');
		}).live("keyup",function(){
			console.info($(this).html());
		
	});
// 	element.on('instanceReady', function (ev) {
// 		  ev.editor.on('paste', function (ev) {
// 		    ev.data.dataValue = 'adonis';
// 		  });
// 		});
	element.on('loaded', function(e){		
		e.editor.on('contentDom', function () {
			var editable = this.editable();
// 			 editable.attachListener( this.document, 'paste', function(evt) {
// 				 evt.data.dataValue = 'adonis';
// 			 });
		    editable.attachListener( this.document, 'drop', function(evt) {
		    	
            	var drop_text = evt.data.$.dataTransfer.getData('text/html');
            	
            	$("<div>"+drop_text+"</div>").find("IMG").each(function(){
					$('<img src="'+$(this).attr("src") +'" data-src="'+$(this).attr("src") +'"  >').appendTo('#img_list').load(function(){
	            		if($(this).attr('data-check') != 'check_ok' && $(this).attr('data-check') != 'checking') img_check(this);
					});				
            	}); 
            	
		    } );
		    
		    e.editor.document.on('paste', function (evt) {
		    	evt.data.dataValue = 'adonis';
	        });	
	        e.editor.document.on('keyup', function (evt) {
	        	
		        	if((evt.data.$.ctrlKey == true && evt.data.$.keyCode == 86) ||  evt.data.$.keyCode == 46||  evt.data.$.keyCode == 8){

// 		        		element.focus();
// 		        		element.document.$.execCommand( 'SelectAll', false, null );
// 		        		element.execCommand( 'removeFormat', element.getSelection().getNative() );
		        		var editorText = element.getData();
		        		refresh_img_list(editorText);
		        	}
		        });		      
	    });


	});
});




$(".default_options UL").on("click",function(){
	if($(this).hasClass("checked"))  $(this).removeClass("checked");
	else {
		$(".default_options UL").removeClass("checked");
		$(this).addClass("checked");
	}
	
});

$("#topic_group_name UL LI").on("click",function(){
	if($(this).hasClass("checked"))  $(this).removeClass("checked");
	else $(this).addClass("checked");

	var topic_index = $('INPUT[name="auto_index"]').val();
	if(topic_index<1) return false;
	
	var group_list = new Array();
	$('#topic_group_name UL LI.checked').each(function(){			
			group_list.push($(this).attr('data-index'));
		});

	
});

$('.add_topic_option').live('click',function(){
	var temp = $(this).parents('DIV.page-content.dropimg-content');
	var temp_clone = $(temp).clone();
	$(temp).after(temp_clone);

	$(temp_clone).each(function(){
		this.addEventListener("dragenter", dragEnter, false);
		this.addEventListener("dragexit", dragExit, false);
		this.addEventListener("dragover", dragOver, false);
		this.addEventListener("dragleave", dragLeave, false);
		this.addEventListener("drop", drop, false);	
	});
})

$('.topic_option_remove').live('click',function(){
	var temp = $(this).parents('DIV.page-content.dropimg-content');
	if($('DIV.page-content.dropimg-content').length == 1) {
		alert('你把選項都刪光了! 笨蛋!');		
	    $(temp).hide().show(1000);
	    return false;		
	}
	
	if($(temp)) $(temp).remove();
});

function topic_insert(auto_index){
	CKEDITOR_destroy();

	
	
	var article_array = get_post_val();

	var from_table = $('#from_index').attr('data-table');
	var from_index = $('#from_index').val();
	
	if(article_array == false ) {

		alert('輸入的資料有誤');
		CKEDITOR.replace("text_ckeditor",{ width:'800px',height:'500px' });
		return false;
	}
	
	
// 	console.info(article_array['default_options']);
	
	if(confirm("是否確定新增資料? ")){
	
		if(article_array && article_array.error_msg == ''){
			url = 'article/actions/validate'; 
			
			$.fancybox.showLoading();
			$.ajax({
				url: url,
			  cache: false,
				dataType: 'html',
			  type: 'POST',
			  data:{
				  article_array:article_array,
				  auto_index:auto_index,
				  from_index:from_index,
				  from_table:from_table
			  },
			  success: function(data){	
				  
			  	$.fancybox.hideLoading();
			  	clear_img_list();
			  	if(data) console.info(data);
			  	else location.reload();
			  }
			});
		}else{
			alert(article_array.error_msg);
		}
	}else{
		CKEDITOR.replace("text_ckeditor",{ width:'800px',height:'500px' });
	}
	
	
}


function get_post_val(){
	
	var post_id = new Array('article_imgurl','article_title','article_optiontitle','article_text');
	
	var article_array = {
			  "article_imgurl": '',
			  "article_title": '',
			  "article_optiontitle": '',
			  "article_text": '',
			  "error_msg":''	 
			}
	for( var key in post_id){		

		var temp = $('[data-name="'+post_id[key]+'"').attr('data-title');
		
		if(typeof(temp) != 'undefined' && $('[data-name="'+post_id[key]+'"').html() == temp) {
			console.info(post_id[key]);	
				return false;
		}
		
		if($('[data-name="'+post_id[key]+'"').get(0).tagName.toLowerCase() == "img") article_array[post_id[key]] = $('[data-name="'+post_id[key]+'"').attr("src");
		if($('[data-name="'+post_id[key]+'"').get(0).tagName.toLowerCase() == "span" ) article_array[post_id[key]] = $('[data-name="'+post_id[key]+'"').html();
		if($('[data-name="'+post_id[key]+'"').get(0).tagName.toLowerCase() == "textarea" ) article_array[post_id[key]] = $('[data-name="'+post_id[key]+'"').html();

	}
	

	article_array['options'] = new Array();
	$(".topic_option_list .page-content.dropimg-content").each(function(){
			var option = {"choose": '',"title": '',"text_imgurl": ''	};


			for( var key in option){	
				var temp = $(this).find('SPAN[data-name="'+key+'"]').attr('data-title');
				
				if(typeof(temp) != 'undefined' && $(this).find('SPAN[data-name="'+key+'"]').html() == temp) return false;
			}
			
			option['choose'] = $(this).find('SPAN[data-name="choose"]').html();
			option['title']  = $(this).find('SPAN[data-name="title"]').html();


			if(!$(this).find('IMG.editable').hasClass("errorsize")){				
				option['text_imgurl'] = $(this).find('IMG.editable').attr("src");
			}
			else{
				option['text_imgurl'] = '';
			}
			article_array['options'].push(option);
		});

	
	article_array['article_defoption'] = $('.default_options UL.checked').attr('data-index');
	article_array['article_group'] = new Array();
	
	$("#topic_group_name UL LI.checked").each(function(){
		article_array['article_group'].push($(this).attr("data-index"));
	});
	article_array['article_img'] = new Array();



	refresh_img_list($('#text_ckeditor').html());
	$('#img_list IMG').each(function(){
		var reg_str = article_array['article_text']; 
		
		article_array['article_img'].push($(this).attr('src'));
		article_array['article_text'] = reg_str.replace( $(this).attr('data-src'), $(this).attr('src') );

	});
	
	return article_array;
	
}


/**/

//FB圖片預覽
$("DIV.fb_view_control SPAN").on('click', function() {
	if( $(this).attr('data-fb') == "close"){
		$('#img_selectbox').hide();	
		
	}else{		
		$("DIV.fb_view").attr('class','fb_view');	
		$("DIV.fb_view").addClass( $(this).attr('data-fb'));
	}
});
$("IMG.editable").live('click', function() {
	$("IMG.editable").removeClass("focus");
	$(this).addClass("focus");
	
	$('#img_selectbox').show(500);
	 
	$('#img_selectbox .fb_view').attr('class','fb_view').css('background', 'url("'+$(this).attr("src")+'") center center no-repeat');
});


//檔案拖拉

//檔案拖拉

$("DIV.dropimg-content, SPAN.topic_photo").each(function(){
	this.addEventListener("dragenter", dragEnter, false);
	this.addEventListener("dragexit", dragExit, false);
	this.addEventListener("dragover", dragOver, false);
	this.addEventListener("dragleave", dragLeave, false);
	this.addEventListener("drop", drop, false);	
});

function dragEnter(evt) {
	$('#img_control').remove(); 
	$(".dropping").removeClass("dropping");
	evt.stopPropagation();
	evt.preventDefault();
	$(this).addClass("dropping");
}

function dragExit(evt) {
	evt.stopPropagation();
	evt.preventDefault();
}

function dragLeave(evt) {
	evt.stopPropagation();
	evt.preventDefault();	
	if( $(this).hasClass("dropping")) $(this).removeClass("dropping");
}
function dragOver(evt) {
	evt.stopPropagation();
	evt.preventDefault();
	if(!$(this).hasClass("dropping")) $(this).addClass("dropping");	
}

function drop(evt) {

	if(( typeof( $(this).attr('data-src')) == 'undefined')) 
		$(this).attr('data-src',$(this).attr('src'));

	
	if(( typeof( $(this).attr('data-width')) == 'undefined')) 
		$(this).attr('data-width',this.naturalWidth);
	if( typeof( $(this).attr('data-height')) == 'undefined') 
		$(this).attr('data-height',this.naturalHeight);
	

	
	$(this).removeClass("dropping");
	evt.stopPropagation();
	evt.preventDefault();

	imgreplacebox(this);
	
	var dat = $(evt.dataTransfer.getData('text/html'));
    var img = dat.attr('src');
    if (!img) img = dat.find("img").attr('src');
    
	var files = evt.dataTransfer.files;
	var count = files.length;

	
	// Only call the handler if 1 or more files was dropped.
	if (count > 0 && handleFiles(files)){
		$(this).addClass('Upload_img');		
	}
	else if(img){		
		$("#new_img").attr('src',img);		
	}else{
		init_img_controllor(true);
	}
}

function upload_article_img(){
	
	
	var fileInput = document.getElementById('upload_img');

	$('#img_list IMG:not([data-check])').remove();
	
	$('#img_list').prepend('<img id="upload" src=""/>');
	
	handleFiles(fileInput.files); 
	
	/**/
	
}

//檔案讀取

function handleFiles(files) {
	
	var file = files[0];
	var check_file  = null;
	if(typeof(file) != "undefined")
		check_file = file.type.match('image');

	if(check_file == null) {
		alert('上傳檔案需為圖檔');			
		return false;
	}
	var reader = new FileReader();

	reader.onloadend = handleReaderLoadEnd;

	reader.readAsDataURL(file);
	return true;
}

function handleReaderLoadEnd(evt) {
	var check_Uploadimg = $('#img_list IMG#upload');
	if(check_Uploadimg.length){
		url = 'article/move_article_photo'; 
		$.ajax({
			url: url,
		  cache: false,
			dataType: 'html',
		  type: 'POST',
		  data:{
			  img:evt.target.result,
			  index:'upload_img'
		  },
		  success: function(data){
			 
			  $("#img_list IMG#upload").attr('src',data);
			  $("IMG#upload").removeAttr('id');
		  }
		});
		
		
		
	}else{
		
		$("#new_img").attr('src',evt.target.result);
	}

}




function init_img_controllor(inputfile){
	//初始化
	delete cut_info;
	$("#img_control").remove();
	$(".Upload_img").removeClass("Upload_img");
	if(inputfile) $("#upload_file").val('');
	console.info('init');
}
function save_img(){

	$("img_control").find("IMG.editable").attr("src");
	
	var old_img = $("#img_control #old_img").attr("src");
	var new_img = $("#img_control #new_img").attr("src");

	$("#img_control").parent().find("IMG.editable").attr("src",new_img);
	
	$("#img_control").remove();
	$('#img_selectbox').hide();	
}

function upload_img(){
	
	var div_el = $('IMG.editable.focus').parents('DIV.page-content.dropimg-content');
	var span_el = $('IMG.editable.focus').parents('SPAN.topic_photo');

	imgreplacebox((span_el.length)?span_el:div_el);


	var fileInput = document.getElementById('upload_file');
	 
	if( handleFiles(fileInput.files) ){
		if(span_el.length) span_el.addClass('Upload_img');
		else div_el.addClass('Upload_img');

	}else {
		init_img_controllor(true);
		return false;

	}
	/**/
	
}



function imgreplacebox(el){

	init_img_controllor(false);
	
	var old_img = $(el).find("IMG.editable").attr("src");

	var img_control = document.createElement('div');
	$(img_control).attr("id","img_control");
	
	$(el).prepend(img_control);
	
	
	$("#img_control").prepend('<img id="new_img"  width="200px"  />')
	$("#img_control").prepend('<img id="old_img"  src ="'+old_img+'" width="200px"  />')
	
	
	
	
	var control_btn = document.createElement('div');
	$(control_btn).attr("id","control_btn");
	$("#img_control").append(control_btn);

	
	
	
	
	var control_bar = new Tool(canvasToolConfig);
	
	$("#new_img").load(function() {

		$('#img_selectbox').hide();	
		if( typeof( $(this).attr("data-src") ) == "undefined" || 
			typeof( $(this).attr("data-width") ) == "undefined" ||
			typeof( $(this).attr("data-height") ) == "undefined")
		{	
			$(this).attr("data-width",300);
			$(this).attr("data-height",400);
						
// 			return false;
		}
			
		
		var width = this.naturalWidth;
		var height = this.naturalHeight;

		
		if(width < $(this).attr("data-width") && height < $(this).attr("data-height")) 
		{
			alert('圖片規格不符');	
			$('#img_control').remove(); 	
		}else if(width *3 != height *4 ) {
			
			if( confirm('圖片規格不符,是否裁切') ) 	cut_jropimg();	

		
			return false;
			
		}else{
			//add_text();
		}
		
	})
	
	$("#new_img,#old_img").on("click",function(){		

		
		$('#img_selectbox').show(500);
		$('#img_selectbox .fb_view').attr('class','fb_view').css('background', 'url("'+$(this).attr("src")+'") center center no-repeat');

		});
	$("#new_img").error(function(){
		if( typeof($(this).attr("data-src")) != 'undefined' ){
			alert('圖片讀取有誤!');
			$('#img_control').remove(); 
		}
		
	});
}


</script>